@charset "utf-8";
/* CSS Document */

/*======================================================
图片切换特效集
======================================================*/
.outer { position:relative; width:990px; height:352px; margin:0 auto; padding-top:70px;}
.postion { position:relative; width:990px; height:350px; border:1px #666 solid; overflow:hidden;}
.bottom { position:absolute; bottom:0; width:100%; height:20px; z-index:99999;}
.btn_center { width:350px; margin:0 auto; text-align:center;}
.btn_off,.btn_on { width:12px; height:12px; margin-left: 5px; border-radius: 10px; background:#0066FF; display:inline-block; cursor: pointer;}
.btn_off,.btn_on { *display: inline;}
.btn_on { background:#fff;}

.prev { position:absolute; left:-84px; top:150px; width:84px; height:184px; index:99999}
.prev a { display:block; width:84px; height:100%; background:url(../image/img_effects/left_gray.png) center no-repeat;}
.next { position:absolute; right:-84px; top:150px; width:84px; height:184px; z-index:99999}
.next a { display:block; width:84px; height:100%; background:url(../image/img_effects/right_gray.png) center no-repeat;}

.imgbox { position:absolute; width:990px; height:100%; left:0px; top:0px;}

.content { position: absolute; left: 0px; top: 0; width:990px; height:100%;  background-color:#fff;}
.gezi { position: absolute; width:23px; height: 23px; background-repeat: no-repeat;}













