@charset "utf-8";
/* CSS Document */

/*======================================================
图片切换
======================================================*/
.outer { position:relative; width:222px; height:226px; margin:0 auto; padding-top:70px;}
.postion { position:relative; width:222px; height:125px; border:1px #666 solid; overflow:hidden;}
.bottom { position:absolute; bottom:0; width:100%; height:40px; background:url(../image/switch/sucai_blank.png) repeat; display:none; z-index:99999;}
.btn_center { width:1000px; margin:0 auto; text-align:center;}
.btn_off { width:20px; height:30px; background:url(../image/switch/bt1.png) center no-repeat; display:inline-block;}
.btn_on { width:20px; height:30px; background:url(../image/switch/bt2.png) center no-repeat; display:inline-block;}
.left { position:absolute; left:-84px; top:70px; width:84px; height:184px; index:99999}
.left a { display:block; width:84px; height:100%; background:url(../image/switch/left_gray.png) center no-repeat;}
.left_h { background:url(../image/switch/sucai_blank.png) repeat; _background:url(../image/switch/sucai_blank.gif) repeat;}
.left_h a {display:block; width:84px; height:100%; background:url(../image/switch/left_green.png) center no-repeat;}

.right { position:absolute; right:-84px; top:70px; width:84px; height:184px; z-index:99999}
.right a { display:block; width:84px; height:100%; background:url(../image/switch/right_gray.png) center no-repeat;}
.right_h {background:url(../image/switch/sucai_blank.png) repeat; _background:url(../image/switch/sucai_blank.gif) repeat;}
.right_h a {display:block; width:84px; height:100%; background:url(../image/switch/right_green.png) center no-repeat;}
.middle { position:absolute; width:222px; height:100%; left:0px; top:0px;}


.content { display: none;}
.m_box { /*width:938px;*/ position: absolute; left: 0px; top: 0; width:222px; height:100%;  background-color:#fff;}
.mid { position:absolute; width:100%; height:100%; left:0; top:0;}
.gezi { position: absolute; width:23px; height: 23px; background:url(../image/img_move/20150521134010.png) no-repeat;}














