@charset "utf-8";
/* CSS Document */

/*======================================================
menu
======================================================*/
.menu { height:30px; border-top:1px #ccc solid; border-bottom:1px #ccc solid;}
.m_common { width:90px; height:30px; line-height:30px; text-align:center;}
.m_center { width:1024px; height:30px; margin:0 auto;}
/*.m_re { position:relative; width:1024px; height:30px;}*/
.m_first { position:relative; float:left;width:90px; height:30px; padding-left:10px; line-height:30px; text-align:center;}
.m_f_a { display:block; padding-right:10px; background-color:#F60}

.m_second { position:absolute; left:0; left:10px; background-color:#F06; display:none;}

.m_third { position:absolute; left:90px; margin-top:-30px; _margin-top:-8px; background-color:#FC3; display:none;}
.m_more { position:absolute; left:90px; margin-top:-30px; _margin-top:-8px; background-color:#093; display:none;}




















