@charset "utf-8";
/* CSS Document */

/*弹层*/
.zevent { color:#39F;}
.zevent a { color:#39F}
.zlayer_re { position:relative; display:inline-block; vertical-align:top; background-color:#fff; display:none;}
.zlayer_abs { display:inline-block; position:absolute; left:-115px; top:22px; width:160px; padding:10px; border:1px #ccc solid; border-radius:3px; background-color:#fff; font-size:12px; line-height:18px; color:#333;}
.zlayer_arrow { display:inline-block;  position:absolute; left:-115px; top:14px; width:180px; height:9px; background:url(../image/slideDown/arrow20140530.gif) center 0 no-repeat; z-index:9;}
.zlayer_re a { color:#39F;}










