@charset "utf-8";
/*
*
* webname:维度端前端网
* website:http://www.weiduduan.com/
* author:vdu
* qq:2210682628
*
*/

/* reset */
body{font:12px/18px "宋体",arial,sans-serif;color:#585858;}

body,div,p,span,form,iframe,table,td,th,input,textarea,button,label,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%; }
ul,ol,li,dl{list-style-type:none;}
em,i,dfn,cite,strong,small{font-style:normal;} 
img{border:0;}
fieldset,button,input,select,option{vertical-align:middle;font:12px/18px "宋体",arial,sans-serif;}
table{border-collapse:collapse;border-spacing:0}
textarea{resize:none}

/* color */
a:link,a:visited{color:#575757;text-decoration:none;}
a:hover{color:#ef4165;text-decoration:none;}
a:active{color:#1d7400;}

/* clearfix */
.clearfix:after{ visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
*html .clearfix{ zoom:1;}

/* public.omission */
.fl{ float:left;}            .fr{ float:right;}            .tc{ text-align:center;}      .tr{ text-align:right;} 
.fb{ font-weight:bold;}      .f12{ font-size:12px;}        h3{ font-weight:normal;}      .listop{ padding-top:15px;}
.mr10{ margin-right:10px;}   .mr15{ margin-right:15px;}    .mL10{ margin-left:10px;}     .mL15{ margin-left:15px;}
.mt10{ margin-top:10px;}     .mt15{ margin-top:15px;}      .mb10{ margin-bottom:10px;}   .mb15{ margin-bottom:15px;}

/* weiduduan */
.weiduduan{ width:550px; margin:15px auto 0 auto;}
#page{width:550px;margin:0 auto 0;}
#page form ul{list-style:none;}
#page form li{padding:15px;}
#page form li:nth-child(odd){border:solid 1px #ddd;}
#page form li.even{background:url(../image/shou/line_bg.png) repeat-y center center;}
#page form label{width:370px;font-size:20px;color:#333;display: inline-block;}
/* tzCheckBox */
.tzCheckBox{background:url(../image/shou/background.gif) no-repeat right bottom;display:inline-block;min-width:60px;height:33px;white-space:nowrap;position:relative;cursor:pointer;margin-left:14px;}
.tzCheckBox.checked{background-position:top left;margin:0 14px 0 0;}
.tzCheckBox .tzCBContent{color:white;line-height:31px;padding-right:38px;text-align:right;}
.tzCheckBox.checked .tzCBContent{text-align:left;padding:0 0 0 38px;}
.tzCBPart{background:url(../image/shou/background.gif) no-repeat left bottom;width:14px;position:absolute;top:0;left:-14px;height:33px;overflow:hidden;}
.tzCheckBox.checked .tzCBPart{background-position:top right;left:auto;right:-14px;}
/