@charset "utf-8";
/* CSS Document */

/*----------------------------------------------------
代码介绍
-----------------------------------------------------*/
.zeffects { width:1000px; margin:0 auto; padding-top:50px; padding-bottom:50px; padding-left:20px; padding-right:20px; background-color:#fff;}

.ze_box { width: 1000px; height: 20000px;}

.zgoTop { }
.zgo_right0 { right: 0px;}
.zgo_site { float: right; width: 1px; height: 0px;}
.zgo_box {position: fixed; bottom: 40px; width:34px; margin-left: 34px;  }
.zgo_row { position: relative; width: 34px; height: 34px; margin-top: 5px; }
.zgo_row a { position: absolute; left: 0; top: 0;  display: block; width: 34px; height: 34px;background: url(../image/gotop/gotop.png) no-repeat; background-color: #000; text-align: center; z-index: 10;}
.zgo_arrow { display: none;}
.zgo_arrow a { background-position: 0 0px;}
.zgo_arrow:hover a { background-position:  -38px 0px; background-color: #000;}
.zgo_rcode a { background-position: 1px -42px;}
.zgo_rcode:hover a { background-position:  -47px -42px; background-color: #000;}
.zgo_row i { position: absolute; right: 34px; top: 0; display: inline-block; *width: 140px!important; height: 34px; padding-left: 10px; line-height: 34px; padding-right: 10px; overflow: hidden; white-space: nowrap; background-color: #000000; color: #fff; display: none;}
.zgo_row:hover i { display: inline-block;}
.zgo_row i.zspecial { height: 260px; top: -226px; padding-top: 10px; text-align: center; line-height: 24px;}













