@charset "utf-8";
/* CSS Document */

/*----------------------------------------------------
Default
-----------------------------------------------------*/
*html{ background-image:url("IE6-fixed-FangDou"); background-attachment:fixed;}
body,ul,ol,dl,dt,dd,li,p,h1,h2,h3,h4,h5,h6,form,label,fieldset,table,td,img,div,th{
border:0;margin:0px; padding:0;}
li,dd,dl,dt {list-style-type:none;}
table {border-collapse:collapse;} 
b,em,i,u,strong{font-weight:normal;font-style:normal;text-decoration:none;}
.clear{ clear:both; line-height:0; font-size:0;  border:none; height:0; }
.empty { line-height:0; font-size:0;}
.fr{ float:right;}
.fl{ float:left;}
.clearfix{overflow:hidden;zoom:1}
.br { word-wrap:break-word;	word-break:break-all;}

/*-----------------------------------------------------
User-defined
-----------------------------------------------------*/
h1,h2,h3,h4,h5,h6 { font-family:Tahoma, Helvetica, Arial, sans-serif; font-size:12px; font-weight:normal;}	
body {font-size:12px; font-family:Tahoma, Helvetica, Arial, sans-serif; color:#000; background:#fff; overflow-y:scroll;}
input,select,textarea{ margin: 0; padding:0; vertical-align:middle; font-family:Tahoma, Helvetica, Arial, sans-serif; color:#333; outline:none; resize:none;}

a { color: #2978e3; text-decoration: none; }
a:hover { color:#2978e3; text-decoration: underline; }
/*-----------------------------------------------------
全局
-----------------------------------------------------*/
.zcenter { width: 1000px; margin: 0 auto;}
.zblue,.zblue a { color: #2978e3;}
.zMidnightBlue ,.zMidnightBlue  a { color: #004aaf;}
.zgray,.zgray a { color: #888;}
.zred,.zred a { color: #f01c1c;}
.zgray a:hover { color: #2978e3;}
.zorange ,.zorange a:hover { color: #ea7313;}
.zfs12 { font-size: 12px;}
.zfs14 { font-size: 14px;}
.zfs16 { font-size: 16px;}
.zfs18 { font-size: 18px;}
.zopacity {position:fixed; _position:absolute; left:0; top:0;  _top:expression(eval(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight)); width:100%; height:100px; background:url(../images/opacity30.png) repeat; display:none; z-index: 100000;}


/*----------------------------------------------------
公共标题
-----------------------------------------------------*/
.ztitle { height: 40px; padding-top: 20px; border-bottom: 1px #dadada solid;}
.ztitle span { display: inline-block; vertical-align: middle;}
.zti_icon1,
.zti_icon2,
.zti_icon3 { display: inline-block; width: 17px; height: 18px; background: url(../images/duxiu_icon.png) no-repeat; vertical-align: middle;}
.zti_icon1 {background-position: 0 -118px;}
.zti_icon2 {background-position: 0 -63px;}
.zti_icon3 {background-position: 0 -91px;}
.zti_h { line-height: 40px; font-size: 18px; color: #000;}
.zti_gray { line-height: 40px; font-size: 12px; color: #797979;}

.zwide { width: 712px;}
.zsidebar { width: 268px;}
.zs_title,.zs_title1 { height: 35px; background-color: #498eec;  line-height: 35px; font-size: 14px; color: #fff;}
.zs_title { padding-left: 10px;}
.zs_h { padding-left: 10px; font-size: 14px;}
.zs_m { padding-right: 8px; font-size: 12px;}
.zs_m a { color: #dae7f8;}
.zs_content,.zs_content1,.zs_content2 { padding-top: 10px; padding-bottom: 20px; border: 1px #cacaca solid; border-top: none;}
.zs_content,.zs_content1 { padding-left: 20px;}
.zs_content,.zs_content2 { margin-bottom: 25px;}
.zs_box {}


/*----------------------------------------------------
评星级
-----------------------------------------------------*/
.zstar { height: 20px; padding-top: 4px; text-align: center;}
.zstar_icon { display:inline-block; width:90px; height:16px; background:url(../images/duxiu_star.png) no-repeat; vertical-align:middle;}
.zstar_s1 { background-position:0px -134px;}
.zstar_s11 { background-position:0px -117px;}
.zstar_s2 { background-position:0px -100px;}
.zstar_s22 { background-position:0px -82px;}
.zstar_s3 { background-position:0px -66px;}
.zstar_s33 { background-position:0px -48px;}
.zstar_s4 { background-position:0px -32px;}
.zstar_s44 { background-position:0px -14px;}
.zstar_s5 { background-position:0px 0px;}






