body { background: #f4f4f4;}
body,ul,li,dl,dd,dt,div,h1,h2,h3,h4,h5,h6,p,img,em,a,b,i,span { margin: 0; padding: 0;}
li,dd,dt { padding: 0; list-style-type: none;}
em,b,i { font-style: normal;}
a { text-decoration: none; color: #333;}

/*广告*/
.zadvertisement {}
.zadvertisement img { width: 100%;}

.zbox { display: -webkit-box; -webkit-box-orient: vertical; max-width: 750px; height: 100vh; margin: 0 auto;}
.zbox_top {}
.zbox_content { -webkit-box-flex:1; overflow-y: auto;}
.zbox_footer {}

.zheader { position: relative; width: 100%; height: 4.4rem; background: #ff5a28;}
.zheader_back { position: absolute; left: 0; top: 0; width: 3rem; height: 4.4rem; background: url(../images/arrowleft_03.png) center no-repeat; background-size: 0.88rem;}
.zheader_title { height: 4.4rem; line-height: 4.4rem; text-align: center; color: #f4f4f4; font-size: 1.5rem;}

.ztop { display: -webkit-box; display: -moz-box; -webkit-box-pack: justify; height: 4.28rem; background: #ff5a28; color: #fff;}
.ztop a { display: block;}
.ztop_logo { height: 4.28rem; padding-left: 1.2rem;}
.ztop_logo img { height: 100%;}
.ztop_menu { margin-top: 1.16rem; padding-right: 1.2rem; line-height: 0; font-size: 1.7rem;}
.ztop_menu em { display: inline-block; width: 1.84rem; height: 0.12rem; border-radius: 0.12rem; box-shadow: 0 0.1rem 0.16rem #ff1e00; background: #fff;}
/*用户信息*/
.zuser { display: -webkit-box; display: -moz-box; -webkit-box-pack: justify; height: 2.76rem; background: #fff; color: #ff5a28;}
.zuser_h { padding-left: 1.2rem; font-size: 1rem; line-height: 2.76rem; color: #ff5a28;}
.zuser_login { padding-right: 1.2rem; /*font-size: ;*/}
.zuser_btn,.zuser_btnBg { display: inline-block; width: 3.2rem; height: 1.6rem; margin-top: 0.6rem;  border-radius:0.2rem; line-height: 1.6rem; font-size: 1rem; text-align: center; color: #ff5a28; }
.zuser_btnBg { margin-left: 0.6rem; background: #ff5a28; color: #fff;}
/*登录后*/
/*.zuser_portrait { display: -webkit-box; display: -moz-box;}
.zuser_portrait dt { width: 2.7rem; height: 2.7rem; border-radius: 2.7rem; overflow: hidden;}
.zuser_portrait dt a { display: inline-block; width: 2.7rem; height: 2.7rem;}
.zuser_portrait dt a img { width: 100%;}
.zuser_portrait dd { line-height: 2.74rem;}*/

/*公共标题*/
.zmodeTitle,.zmodeTitle1 { display: -webkit-box; display: box; height: 3.2rem; -webkit-box-pack:justify; margin-bottom: 0; padding: 0 1.2rem; border-top: 1px #ddd solid; border-bottom: 1px #ddd solid; box-sizing: content-box; background: #fcfcfc;}
.zmodeTitle { margin-top: 1.2rem;}
.zmodeTitle h2,.zmodeTitle1 h2 { line-height: 3.2rem; font-size: 1.2rem; color: #333; font-weight: normal;}
.zmodeTitle h2 b,.zmodeTitle1 h2 b { color: #ff5a28;}
.zmodeTitle p {}
.zmodeTitle p span,.zmodeTitle p a,.zmodeTitle1 p span,.zmodeTitle1 p a { display: inline-block; vertical-align: middle;}
.zmodeTitle p a,.zmodeTitle1 p a { padding-right: 0.3rem; padding-top: 0.2rem; color: #9a9a9a; line-height: 3rem; font-size: 0.96rem;}
.zmodeTitle p span,.zmodeTitle1 p span { width: 0.56rem; height: 3.2rem; background: url(../images/arrowRight_03.png) right center no-repeat; background-size: 0.52rem;}

/*确定*/

.zbtn { padding: 2rem 1.2rem;}
.zbtn_space { padding: 6rem 1.2rem;}
.zbtn_orange { text-align: center;}
.zbtn_orange a { display: inline-block; width: 50%; height: 2.8rem; padding: 0 1rem; border: none; border-radius: 0.3rem; background: #ff5a28; line-height: 2.8rem; text-align: center; color: #fff; font-size: 1.2rem;}
