@charset "utf-8";
/* CSS Document */
/*----------------------------------------------------
portrait头像
-----------------------------------------------------*/
.cx_portrait { padding-left: .3rem; padding-bottom: .3rem;}
.cx_portrait-row { display: -webkit-box; display: box;}
.cx_portrait-num { display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center; width: 0.48rem; margin-right: 0.22rem; line-height: 1.03rem; font-size: 0.26rem; color: #ff3b30; text-align: center;}
.cx_portrait-num { display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center; width: 0.468rem; margin-right: 0.234rem; line-height: 1.0296rem; font-size: 0.3744rem; color: #ff3b30; text-align: center;}
.cx_portrait-row .znumberOne { background: url(../images/numberOne.png) center no-repeat; background-size: 0.42rem;}
.cx_portrait-row:nth-child(n+4) .cx_portrait-num { color: #999;}
.cx_portrait-pic { position: relative; width: 0.8rem; height: 0.8rem; margin: 0.27rem 0;  margin-right: 0.24rem; border-radius: 0.08rem; border: 1px #ebebeb solid; text-align: center;}
.cx_portrait-pic img { width: 0.8rem; border-radius: 0.08rem;}
.cx_portrait-pic span,.cx_portrait-pic em { display: inline-block; position: absolute;}
.cx_portrait-pic span { position: absolute; left: -0.5148rem; top: -0.234rem; width: 0.7605rem; height: 0.7254rem;}
.cx_portrait-pic em { width: 0.7605rem; height: 0.7254rem; background: url(../images/kinghap_03.png) no-repeat; background-size: 0.5616rem;}
.cx_portrait-txt { -webkit-box-flex:1; display: -webkit-box; display: box; padding: 0 .3rem .05rem 0; background-image: -webkit-linear-gradient(transparent 40%, #ebebeb 60%); background-size: 100% 1px; background-repeat: no-repeat; background-position: bottom;}
.cx_portrait-th { -webkit-box-flex:1; display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center;}
.cx_portrait-th i { display: inline-block; padding: 0rem 0.07rem 0.02rem; border-radius: 0.04rem; background: #09f; color: #fff; font-size: 0.26rem;}
.cx_portrait-name { display: -webkit-box; -webkit-box-align: center; height: .32rem; line-height: .32rem; font-size: 0.26rem; color: #333;}
.cx_portrait-th a { display: block; font-size: 0.3rem; color: #333; cursor: pointer;}
.cx_portrait-th a:hover,.cx_portrait-th a:focus,.cx_portrait-th a:active { color:#333; text-decoration: none;}
.cx_portrait-tt { line-height: .37rem; font-size: 0.26rem; color: #999;}
.cx_portrait-message { padding-top: .08rem; min-height: .35rem; line-height: .35rem; font-size: .26rem; color: #999;}
.cx_portrait-right { display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center; font-size: 0.28rem; color: #999;  text-align: right;}
.cx_portrait-right h2 { line-height: 0.56rem; font-size: 0.28rem;  max-width: 2.8rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.cx_portrait-right span, .cx_portrait-right i,.cx_portrait-right em {display: inline-block; vertical-align: middle; font-size: 0.3rem;}
.cx_portrait-right img { width: 0.7rem; height: 0.94rem; margin-left: 0.24rem; border-radius: 0.09rem;}
.cx_portrait-red { color: red;}
.cx_portrait-blue { color: #09f;}
.cx_portrait-arrowr { padding-right: 0.38rem; background: url(../images/arrow_small.png) right center no-repeat; background-size: 0.24rem;}
.cx_portrait-arrowd { padding-right: 0.38rem; background: url(../images/arrowDown_03.png) right center no-repeat; background-size: 0.24rem;}

/*多选*/
.cx_portrait-checkbox { display: -webkit-box; -webkit-box-align: center; width: .8rem;}
.cx_portrait-checkbox input[type='checkbox'] { width: 0px; height: 0px;}
.cx_portrait-checkbox input[type='checkbox']:after { display: block; content: ''; margin-left: -.05rem; margin-top: -.25rem; width: .5rem; height: .5rem; background-image: url(../images/checkbox.png); background-position: center center; background-repeat: no-repeat; background-size: .48rem;}
.cx_portrait-checkbox input[type='checkbox']:checked:after { background-image: url(../images/checkbox_checked.png);}
/*单选*/
.cx_portrait-radio { display: -webkit-box; -webkit-box-align: center; width: .8rem;}
.cx_portrait-radio input[type='radio'] { width: 0px; height: 0px;}
.cx_portrait-radio input[type='radio']:after { display: block; content: ''; margin-left: -.05rem; margin-top: -.25rem; width: .5rem; height: .5rem; background-image: url(../images/radioLg.png); background-position: center center; background-repeat: no-repeat; background-size: .48rem;}
.cx_portrait-radio input[type='radio']:checked:after { background-image: url(../images/radioLg_checked.png);}

/*九宫格*/
.cx_portrait-imgwrap { padding-top: .14rem; padding-bottom: .3rem;}
.cx_portrait-imgList { display: -webkit-box; padding-top: .03rem;}
.cx_portrait-img { -webkit-box-flex: 1; padding-left: .05rem;}
.cx_portrait-img:first-child { padding-left: 0;}
.cx_portrait-img img { width: 1.9rem; height: 1.9rem; border: 1px #d9d9d9 solid;}

/*小花修饰*/
.cx_portrait-align { display: -webkit-box; -webkit-box-align: center; }
.cx_portrait-flower { margin-left: 3px;}
.cx_portrait-star { margin-left: 2px;}
.cx_portrait-flower .petalNew{margin-top: -12px;}
.cx_portrait-star .starBox { margin-top:1px;}
/*小花右侧内容*/
.cx_portrait-flex { -webkit-box-flex: 1; text-align: right; font-size: .28rem; color: #999;}