@charset "utf-8";
/* CSS Document */

/*----------------------------------------------------
上传图片
-----------------------------------------------------*/
.zshangchuan {}
.zsh_input { display: -webkit-box; display: box; width: 100%; padding: 1rem 0; box-sizing: border-box;}
.zsh_typeText { -webkit-box-flex: 1; height: 3.75rem; padding-left: 1rem; -webkit-transiton:0.6s all ease; border-bottom: 1px #dedede solid; border-top:1px #dedede solid; background: #fff;}
.zsh_typeText input { width: 100%; height: 3.75rem; border: none; border-radius: 0;  background: #fff; /*line-height: 3.75rem;*/ font-size: 1.5rem; color: #333;} 
.zsh_tt { height: 3.75rem; padding-left: 1.2rem; border-bottom: 1px #dedede solid; border-top:1px #dedede solid;  background: #fff; line-height: 3.75rem; font-size:1.5rem; color: #929292;}
.zcameraBtn {  -webkit-transiton:1.6s all ease; width: 4.8rem; padding-left: 0.6rem; padding-right: 1rem; height: 3.75rem; border-bottom: 1px #dedede solid; border-top:1px #dedede solid;  background: #fff; text-align: right;}
.zcameraBtn img { width: 2.6rem; margin-top: 0.65rem;}
.zcameraBtn span { display: inline-block; line-height: 3.5rem; font-size: 1.2rem; color: #09f;}



.zsh_textarea { padding: 2rem 0; padding-bottom: 1rem;}
.zsh_site { position: relative; width: 0.05rem; height: 0;}
.zsh_zgray { position: absolute; top: 0.8rem; left: 1.2rem; display: inline-block; width: 4.7rem; font-size: 1.5rem; color: #929292; z-index: 10;}
.zsh_contenteditable ,.zsh_contenteditable1 { width: 100%;}
.zsh_contenteditable textarea,.zsh_contenteditable1  textarea {-webkit-appearance: none; width: 100%; min-height: 6.75rem; padding:0.5rem 4rem; padding-left: 5.4rem; -webkit-box-sizing: border-box; box-sizing: border-box; border: none; border-radius: 0; border-bottom: 1px #dedede solid; border-top:1px #dedede solid; outline: none; background: #fff; line-height: 2.5rem; font-size: 1.5rem; color: #333;}
.zsh_contenteditable1  textarea { padding-left: 1rem; border: none; border-radius: 0; border-bottom: 1px #dedede solid; border-top:1px #dedede solid; outline: none; background: #fff; }
.zcameraBtn1 { position: relative; width: 100%; height: 0;}
.zcameraBtn1 img { position: absolute; right: 1rem; top: -3.15rem; width: 2.6rem;}
 
.zsh_intitle { padding: 1rem 0; padding-bottom: 0; }
.zsh_intitle h2 { padding:0.6rem 1.2rem 0.65rem; line-height: 2.5rem; font-size: 1.4rem; color: #333; word-wrap:break-word; word-break:break-word;}
.zsh_intitle h2 span { color: #929292;}

.zsh_img,.zsh_img1 { padding:0 0 1rem 1.2rem;}
.zsh_img1 { border-bottom: 1px #dedede solid;}
.zsh_imgList { padding: 0.5rem 0 0 1.2rem;}
.zsh_rel { position: relative; display: inline-block;  letter-spaceing:-0.2rem;  width: 5rem; height: 5rem; margin-bottom: 1.6rem; margin-right: 1.95rem;}
.zsh_rel img { position: absolute; left: 0; top: 0; width: 100%; height:100%; border-radius: 0.4rem;}
.zsh_close { position: absolute; right: -0.8rem; top: -0.8rem; width: 1.5rem; height: 1.5rem; background: url(../images/delete_06.png) center no-repeat; background-size: 90%; z-index: 10;}
.zsh_addImg { display: inline-block; letter-spaceing:-0.2rem; width: 5rem; height: 5rem; margin-bottom: 1.6rem; background: url(../images/add_03.png) center no-repeat; background-size: 100%;}
.zsh_h { padding: 0 1.5rem 0.1rem; line-height: 1.6rem; font-size: 1.4rem; color: #929292;}


/*如何分组讨论*/
.zdefen { margin-top: 2.4rem; padding: 0 1.5rem;}
.zdefen li { display: table; width: 100%; padding:0.5rem; border-bottom: 1px #dedede solid; -webkit-box-sizing: border-box; box-sizing: border-box; }
.zdefen p {}
.zdefen em {padding-left: 0.6rem; font-size: 1.2rem; line-height: 2.5rem;}
.zdefen em.zletter {  display: table-cell; padding-left: 0.6rem; width: 2rem;}
.zdefen i { display: inline-block; width: 2.5rem; height: 2.5rem; margin-left: 0.6rem; background: url(../images/panduan_03.png) no-repeat;}
.zdefen li:last-child { border-bottom: none;}
.zdefen { border-bottom: 1px #dedede solid;}
/* prettyCheckbox */
.prettyCheckbox { }
.zpcheckbox,.zpradio { padding-bottom: 0.6rem;}
.zpcheckbox em,.zpradio em { }
.zpcheckbox:after,.zpradio:after { content: ''; clear: both;}

.zpcheckbox span.holder{height:6rem;background:url(../images/checkbox.png) 0 0 no-repeat; background-size: 2rem;}
.zpradio span.holder{height:6rem;background:url(../images/radio.png) 0 0 no-repeat;  background-size: 2rem;}

.zpchecked span.holder,
.zpchecked span.holder,
.zpchecked:hover span.holder,
.zpchecked:hover span.holder{ background-position: 0 -3.86rem;}

input.hiddenCheckbox{position:absolute;left:-10000px;}
.prettyCheckbox span.holderWrap{float:left;position:relative;overflow:hidden; margin-top: 0.25rem;}
.prettyCheckbox span.holder{position:absolute;top:0;left:0; }


.zre_top { padding: 3.4rem 0; text-align: center;}
.zre_go a { display:inline-block; width: 50%; height: 3.5rem; border-radius: 0.4rem; background: #039bff; line-height: 3.5rem; text-align: center; color: #fff; font-size: 1.5rem;}
.zinfop { padding: 0.2rem 1.5rem; line-height: 3rem; font-size: 1.4rem; color:#929292; font-family: arial;}
.zbtntxt { padding: 0.6rem 1.8rem; line-height: 2rem; font-size: 1.2rem; color: #color: #929292;}

/*----------------------------------------------------
积分设置
-----------------------------------------------------*/
.zintegral { }
.zin_opacity { position: absolute; bottom: 0; left: 0; width: 100%; height: 100vh; background: #000; opacity: 0.5; display: none; z-index: 99;}
.zin_site { position: absolute; bottom: 0.6rem; left: 5%; width: 90%;  -webkit-box-sizing: border-box; box-sizing: border-box;  display: none; z-index: 100;}
.zin_closebtn { display: block; margin-top: 0.4rem; line-height: 3.5rem; border-radius: 0.4rem; background: #fff; color: #c00; line-height: 3.5rem; text-align: center; font-size: 1.2rem;}
.zin_itembox {overflow: hidden; border-radius: 0.5rem;}
.zin_row ,.zin_set { display: -webkit-box; display: box; width: 100%; padding: 0.5rem 1.5rem; border-bottom: solid 1px #d8dde4; line-height: 2.5rem; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff;}
.zin_set { /*border-bottom: 1px transparent solid;*/ background: #fff;}
.zin_row dt,.zin_set dt { -webkit-box-flex:1; font-size: 1.4rem; color: #333;}
.zin_set dt { margin-left: 3rem; text-align: right;}
.zin_row:first-child { border-top: 1px #dedede solid;}
.zin_row dd,.zin_set dd { color: #1785fb; font-size: 1.9rem;}
.zin_row dd { width: 50%;}
.zin_row dd span {display: inline-block; vertical-align: middle;}
.zin_row dd em { display: inline-block; width: 1.4rem; height: 1.4rem; margin-left: 0.2rem; background: url(../images/arrowDown_03.png) center no-repeat; background-size: 1rem; vertical-align: middle;}

.zin_set dd { width: 47%;}
.zin_set dd i { display: none; width: 5.8rem; height: 2.5rem; background: url(../images/right.jpg) center no-repeat; background-size: 1.8rem;}
/*.zin_visible { border-top:1px #d8dde4 solid; border-bottom: 1px #d8dde4 solid;}*/
.zin_visible dd i { display: inline-block;}

.animated {
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode:both;
}


@-webkit-keyframes fadeInUp{
    0%{ -webkit-transform:translate(0,60px); opacity: 0;}
    100%{ -webkit-transform:translate(0,0px);opacity: 1;}
}

@keyframes fadeInUp{
   0%{ -webkit-transform:translate(0,60px); opacity: 0;}
    100%{ -webkit-transform:translate(0,0px); opacity: 1;}
}


.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown{
    0%{ -webkit-transform:translate(0,0px); opacity: 1;}
    100%{ -webkit-transform:translate(0,60px);; opacity: 0;}
}

@keyframes fadeInDown{
   0%{ -webkit-transform:translate(0,0px); opacity: 1;}
    100%{ -webkit-transform:translate(0,60px); opacity: 0;}
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}


/*选人*/
.zxuanren {}
.zxu_h { padding: 1rem 1.5rem 0; line-height: 3rem; font-size: 1.4rem; color: #222;}
.zxu_photo { width: 9rem; height: 9rem; margin: 0 auto; padding: 0.6rem; border:1px #dedede solid; border-radius: 50%; text-align: center;}
.zxu_photo img { width: 100%;  border-radius: 50%;}
.zxu_name { padding-top: 0.6rem; text-align: center; font-size: 1.6rem;}
.zxu_num { padding-top: 0.4rem; text-align: center; font-size: 1.2rem;}
































