@charset "utf-8";
/* CSS Document */

/*----------------------------------------------------
教案
-----------------------------------------------------*/
.zlessonPlans {}
.zlessonPlans_list { display: -webkit-flex; -webkit-flex-wrap: wrap; padding-left:.3rem; padding-right: .3rem; background-color: #fff;}
.zlessonPlans_item { position: relative;  margin-right: .3rem; margin-bottom: .14rem; box-sizing: border-box; background: #fafafa;}
.zlessonPlans_item:nth-child(even) { margin-right: 0;}
.zlessonPlans_pic { width: 3.3rem; height: 2rem; vertical-align: middle; text-align: center;}

.zlessonPlans_pic img { width: 3.3rem; height: 2rem; box-sizing: border-box;border-radius: .1rem;}
.zlessonPlans_name{font-size: .36rem;color: #000}
