@charset "utf-8";
/* CSS Document */

/*----------------------------------------------------
参考备用：完稿需删除
.overflow { overflow:hidden; white-space:nowrap; -o-text-overflow:ellipsis; text-overflow:ellipsis;}
.br { word-wrap:break-word;	word-break:break-all;}
-----------------------------------------------------*/




