@charset "utf-8";
/* CSS Document */

/*----------------------------------------------------
banner
-----------------------------------------------------*/
.zbanner { min-width: 1200px; *width:expression(document.body.clientWidth < 1200? '1200px':'auto'); height: 434px;}
.postion { position:relative; width:100%; min-width: 1200px; *width:expression(document.body.clientWidth < 1200? '1200px':'auto'); height:434px; overflow:hidden;}
.bottom { position:absolute; bottom:0; width:100%; min-width: 1200px; *width:expression(document.body.clientWidth < 1200? '1200px':'auto'); height:74px; z-index:901;}
.btn_center { width:1200px; margin:18px auto; text-align:right;}
.btn_num { padding-right: 10px;}
.btn_off,.btn_on { display:inline-block; width:36px; height:36px; line-height: 36px; text-align: center; font-size: 18px; font-family: "微软雅黑";  cursor:pointer; color: #fff;}
.btn_on { background:#d9030f;}
.middle { position:absolute; width:auto; height:434px; left:0; top:0px;}
.mid { position:absolute; width:auto; height:434px; left:-3800px; top:0px;}
.left,.right { width:20px; height:34px; background:url(../images/zdt_icon.png) 0px -169px no-repeat; z-index:99999; cursor:pointer;}
.right {background-position: -39px -169px; }
.content { position: relative; float:left; width: 100%; min-width: 1200px; *width:expression(document.body.clientWidth < 1200? '1200px':'auto'); height:434px; }
.m_box { position:absolute; bottom:0; width:100%; height: 74px; min-width: 1200px; *width:expression(document.body.clientWidth < 1200? '1200px':'auto'); height:74px; background:url(../images/opacity50.png) repeat; font-size: 24px; color: #fff; font-family: "微软雅黑"; font-weight: bold; z-index:900;}
.m_box span { padding-left: 40px; line-height: 70px;}

/*----------------------------------------------------
公告
-----------------------------------------------------*/
.zopen { margin-top: 40px; background-color: #f7f7f7;}
.zop_title { width: 82px; height: 40px; background-color: #d3d3d3; line-height: 40px; text-align: center; font-size: 16px; color: #fff; font-family: "微软雅黑"; font-weight: bold;}
.zop_content { position: relative; width: 1072px; height: 40px; overflow: hidden;}
.zop_move { position: absolute; width: 3000px; height: 40px; font-size: 14px;}
.zop_move li {  }
.zop_move li a { display: inline-block; width: 300px; height: 40px; padding-left: 24px; padding-right: 30px ; line-height: 40px; overflow:hidden; white-space:nowrap; -webkit-text-overflow:ellipsis; -moz-text-overflow:ellipsis; -o-text-overflow:ellipsis; text-overflow:ellipsis;}
.zop_btn { width: 46px; height: 40px; background-color: #d3d3d3;}
.zop_btn a { display: inline-block; width: 23px; height: 40px; background: url(../images/zdt_icon.png) no-repeat;}
.zop_btn a { *display: inline;}
.zop_btn a.zprev { background-position: 8px -116px;}
.zop_btn a.znext { background-position: -46px -116px;}
/*----------------------------------------------------
news
-----------------------------------------------------*/
.znews { padding-top: 32px;}
.zne_words { width: 600px;}
.zne_tab { height: 50px; font-family: "微软雅黑";}
.zne_tab li { display: inline-block;}
.zne_tab li { *display: inline;}
.zne_def,.zne_cur { width: 110px; height: 50px; line-height: 50px; font-size: 18px; cursor: pointer;}
.zne_cur { width: 120px; font-size: 24px;}
.zne_list { height: 290px; display: none;}
.zne_row { padding-top: 4px;}
.zne_row a ,.zne_row em { display: inline-block; vertical-align: middle;}
.zne_row a { width: 465px; height: 30px; line-height: 30px; font-size: 14px;}
.zne_row em { float: right; padding-right: 10px; color: #999; font-size: 14px; font-family: arial; text-align: right;}
.focus{ position:relative;  width:552px;  height:340px; background-color: #000; float: left;}  
.focus img{  width:552px;  height:340px;} 
.focus .shadow .title{width: 260px; height: 65px;padding-left: 30px;padding-top: 20px;}
.focus .shadow .title a{ text-decoration:none; color:#fff; font-size:14px; font-weight:bolder; overflow:hidden; }
.focus .btn{ position:absolute; bottom:34px; left:510px; overflow:hidden; zoom:1;} 
.focus .btn a{position:relative; display:inline; width:13px; height:13px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }  
.focus .btn a:hover,.focus .btn a.current{  cursor:pointer;background:#fc114a;}  
.focus .fPic{ position:absolute; left:0px; top:0px; }  
.focus .D1fBt{ overflow:hidden; zoom:1;  height:16px; z-index:10;  }  
.focus .shadow{ width:100%; position:absolute; bottom:0; left:0px; z-index:10; height:40px; line-height: 40px; background:rgba(0,0,0,0.6);    
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;  display:block;  text-align:left; }  
.focus .shadow a{ display: inline-block; width: 70%; text-decoration:none; color:#fff; font-size:16px; margin-left:10px; font-family: "\5FAE\8F6F\96C5\9ED1"; overflow:hidden; white-space:nowrap; -webkit-text-overflow:ellipsis; -moz-text-overflow:ellipsis; -o-text-overflow:ellipsis; text-overflow:ellipsis;}  
.focus .fcon{ position:relative; width:100%; float:left;  display:none; background:#000  }  
.focus .fcon img{ display:block; }  
.focus .fbg{bottom:8px; right:40px; position:absolute; height:21px; text-align:center; z-index: 200; }  
.focus .fbg div{margin:4px auto 0;overflow:hidden;zoom:1;height:14px}    
.focus .D1fBt a{position:relative; display:inline; width:8px; height:8px; border-radius:4px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }    
.focus .D1fBt .current,.focus .D1fBt a:hover{background:#fc114a;}    
.focus .D1fBt img{display:none}    
.focus .D1fBt i{display:none; font-style:normal; }    
/*.focus .prev,.focus .next{position:absolute;width:40px;height:74px;background: url(../images/focus_btn.png) no-repeat;}*/
.focus .prev{top: 50%;margin-top: -37px; left: 0;background-position:0 -74px; cursor:pointer; }  
.focus .next{top: 50%;margin-top: -37px; right: 0;  background-position:-40px -74px;  cursor:pointer;}  
.focus .prev:hover{  background-position:0 0; }  
.focus .next:hover{  background-position:-40px 0;} 
/*----------------------------------------------------
三列专栏
-----------------------------------------------------*/
.zcolumn { min-width: 1200px; *width:expression(document.body.clientWidth < 1200? '1200px':'auto'); height:383px; margin-top: 45px; background: url(../images/zdt_bg1.jpg) center 0 no-repeat;}
.zco_item { width: 370px; padding-left: 36px;}
.zco_pl0 { padding-left: 0;}
.zco_title { height: 50px; padding-top: 30px; font-family: "微软雅黑"; font-size: 24px; color: #414751;}
.zco_box { height: 236px;}
/*专题专栏*/
.zco_bg { height: 216px; padding-left: 23px; padding-top: 20px; background: url(../images/zdt_05.png) repeat;}
.zco_bg, .zco_bg a { color: #fff;}
.zco_bg a:hover { color: #fff; text-decoration: underline;}
.zco_special { }
.zco_special_up { width: 114px; padding-right: 21px;}
.zco_special_up h2 { font-size: 18px;}
.zco_share { padding-top: 20px; font-size: 12px;}
.zco_share em,.zco_share a { vertical-align: middle;}
.zco_share em { float: left; width: 18px; height: 16px; padding-right: 8px; background: url(../images/zdt_icon.png) -47px 0px no-repeat;}
.zco_share a {}
.zco_special_list { padding-top: 15px; font-size: 14px;}
.zco_special_list li { width: 88%; line-height: 26px; overflow:hidden; white-space:nowrap; -webkit-text-overflow:ellipsis; -moz-text-overflow:ellipsis; -o-text-overflow:ellipsis; text-overflow:ellipsis;}
.zco_special_list li a { }
/*影像国家电投*/
.zco_pic { position: relative; width: 100%;}
.zco_play { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/zdt_04.png) center no-repeat;}
.zco_hh { position: absolute; left: 0; bottom: 0; width: 100%; height: 42px; background: url(../images/opacity50.png) repeat; z-index: 2; font-size: 16px; color: #fff; overflow:hidden; white-space:nowrap; -webkit-text-overflow:ellipsis; -moz-text-overflow:ellipsis; -o-text-overflow:ellipsis; text-overflow:ellipsis;}
.zco_hh a { padding-left: 12px; line-height: 42px;  color: #fff;}
/*专项工作*/
.zco_works {}
.zco_works li { float: left;}
.zco_first ,.zco_second,.zco_third,.zco_fourth { width: 182px; height: 118px;}
.zco_third,.zco_fourth { height: 112px;  margin-top: 4px;  background-color: #28426f;}
.zco_third:hover,.zco_fourth:hover { background-color: #60ae23;}
.zco_first ,.zco_third { margin-right: 4px;}
.zco_first ,.zco_second { background: url(../images/zdt_07.png) no-repeat;}
.zco_first:hover ,.zco_second:hover { background: url(../images/zdt_08.png) no-repeat;}
.zco_first em { display: block; height: 80px; text-align: center;}
.zco_first em a { display: inline-block; width: 50px; height: 50px; margin-top: 20px; background: url(../images/zdt_icon.png) 0px -319px no-repeat;}
.zco_first h2 { text-align: center;}
.zco_first h2 a { font-size: 14px; color: #fff;}
.zco_second em { display: block; height: 80px; text-align: center;}
.zco_second em a { display: inline-block; width: 70px; height: 70px; margin-top: 12px; background: url(../images/zdt_icon.png) 0px -398px no-repeat;}
.zco_second h2 { text-align: center;}
.zco_second h2 a { font-size: 14px; color: #fff;}
.zco_third em { display: block; height: 80px; text-align: center;}
.zco_third em a { display: inline-block; width: 50px; height: 70px; margin-top: 10px; background: url(../images/zdt_icon.png) 0px -228px no-repeat;}
.zco_third h2 { text-align: center;}
.zco_third h2 a { font-size: 14px; color: #fff;}
.zco_fourth em { display: block; height: 80px; text-align: center;}
.zco_fourth em a { display: inline-block; width: 70px; height: 70px; margin-top: 10px; background: url(../images/zdt_icon.png) 0px -489px no-repeat;}
.zco_fourth h2 { text-align: center;}
.zco_fourth h2 a { font-size: 14px; color: #fff;}
/*----------------------------------------------------
动态信息列表
-----------------------------------------------------*/
.zdynamic { height: 403px; background-color: #f7f7f7;}
/*系统动态              综合信息    基层  职工风采*/
.zdy_basic,.zdy_system { height: 301px; margin-top: 48px; background-color: #fff;}
.zdy_system { width: 788px;}
.zdy_basic { width: 374px;}
.zdy_s_title,.zdy_b_title { height: 47px; background-color: #fff; font-family: "微软雅黑";}
.zdy_s_title li,.zdy_b_title li { display: inline-block; height: 47px;}
.zdy_s_title li,.zdy_b_title li { *display: inline;}
.zdy_s_tbg,.zdy_s_tbg2,.zdy_b_tbg,.zdy_b_tbg2 { display: inline-block; width: 169px; line-height: 47px; text-align: center;}
.zdy_s_tbg,.zdy_s_tbg2,.zdy_b_tbg,.zdy_b_tbg2 { *display: inline; }
.zdy_b_tbg,.zdy_b_tbg2 { width: 140px;}
.zdy_s_tbg,.zdy_b_tbg,.zdy_s_tbg2,.zdy_b_tbg2 { font-size: 18px; color:#434457;}
.zdy_s_cur .zdy_s_tbg { background: url(../images/zdt_43.png) right 0 no-repeat; background-color: #bf0d0d; font-size: 22px; color: #fff;}
.zdy_s_cur .zdy_s_tbg2 { background: url(../images/titlebg_03.png) center no-repeat; font-size: 22px; color: #fff;}
.zdy_s_def span,.zdy_b_def span { display: inline-block; width: 14px; height: 24px; margin-left: 32px; background: url(../images/zdt_icon.png) -50px -46px no-repeat; vertical-align: middle;}
.zdy_s_def span,.zdy_b_def span { *display: inline; }
.zdy_b_cur .zdy_b_tbg { background: url(../images/zdt_46.png) right 0 no-repeat; background-color: #203963; font-size: 22px; color: #fff;}
.zdy_b_cur .zdy_b_tbg2 { background: url(../images/titlebg_04.png) center no-repeat; font-size: 22px; color: #fff;}

.zdy_s_box { display: none;}
.zdy_s_list,.zdy_b_list { padding-top: 20px; padding-left: 30px; padding-right: 30px;}
.zdy_b_list { display: none;}
.zdy_s_row,.zdy_b_row { line-height: 30px;}
.zdy_s_row a,.zdy_s_row span,.zdy_b_row a,.zdy_b_row span { display: inline-block; vertical-align: middle;}
.zdy_s_row a,.zdy_s_row span { *display: inline;}
.zdy_s_row a { width: 286px;}
.zdy_b_row a { width: 260px;}
.zdy_s_row span,.zdy_b_row span { width: 48px; text-align: right; font-family: arial; font-size: 12px; color: #999;}

/*----------------------------------------------------
背景2
-----------------------------------------------------*/
.zitemBg2 { height: 434px; background: url(../images/zdt_bg2.jpg) center 0 no-repeat;}
.zib_title { height: 50px; padding-top: 30px; font-family: "微软雅黑"; font-size: 24px; color: #414751;}
/*集团业务*/
.zib_business { width: 788px;}
.zib_b_box { height: 295px; background-color: #fff;}
.zib_b_tab { width: 373px; font-family: "微软雅黑";}
.zib_b_tab li { float: left; border-bottom: 1px #ececec solid; border-right: 1px #ececec solid;}
.zib_b_def,.zib_b_cur { width: 170px; height: 63px; padding-top: 10px; padding-left: 14px; cursor: pointer;}
.zib_b_cur { background-color: #61ac26}
.zib_b_def i,.zib_b_cur i,.zib_b_cur span,.zib_b_def span { display: inline-block; vertical-align: middle; color: #626c8c; font-size: 16px;}
.zib_b_cur span,.zib_b_def span { padding-left: 10px;}
.zib_b_cur span { height: 60px; line-height: 60px; font-size: 18px; color: #fff;}
.zib_b_def i,.zib_b_cur i { width: 52px; height: 52px; background: url(../images/zdt_icon.png) no-repeat;}
.zib_b_def i.huodian { background-position: -87px 0px;}
.zib_b_def i.shuidian { background-position: -87px -279px;}
.zib_b_def i.xinnengyuan { background-position: -87px -68px;}
.zib_b_def i.hedian { background-position: -87px -138px;}
.zib_b_def i.jinrong { background-position: -87px -336px;}
.zib_b_def i.meitanyuwuliu { background-position: -87px -406px;}
.zib_b_def i.lvye { background-position: -87px -207px;}
.zib_b_def i.gaoxinchanye { background-position: -87px -470px;}
.zib_b_cur i.huodian { background-position: -163px 0px;}
.zib_b_cur i.shuidian { background-position: -163px -279px;}
.zib_b_cur i.xinnengyuan { background-position: -163px -68px;}
.zib_b_cur i.hedian { background-position: -163px -138px;}
.zib_b_cur i.jinrong { background-position: -163px -336px;}
.zib_b_cur i.meitanyuwuliu { background-position: -163px -406px;}
.zib_b_cur i.lvye { background-position: -163px -207px;}
.zib_b_cur i.gaoxinchanye { background-position: -163px -470px;}
.zib_b_content { width: 370px; padding-top: 24px; padding-right: 20px; line-height: 27px; display: none;}
.zib_b_content img { float: left; margin: 0px 10px; margin-top: 5px;}
/*投资者关系*/
.zib_relation { width: 374px;}
.zib_r_box { height: 295px;}
.zib_r_tab {}
.zib_r_tab li { float: left; width: 122px; height: 32px; margin-left: 4px; margin-bottom: 4px; line-height: 32px; text-align: center; cursor: pointer;}
.zib_r_def { background-color: #fff;}
.zib_r_cur { background-color: #bf0d0d; color: #fff;}
.zib_r_content { height: 196px; padding: 8px; padding-bottom: 16px; background-color: #fff; display: none;}
.zib_r_space { display: none;}
/*----------------------------------------------------
友情链接
-----------------------------------------------------*/
.zfriendLinks { height: 64px; background-color: #bf0d0d;}
.zfl_title { line-height: 64px; font-size: 18px; color: #fff; }
/*下拉菜单链接*/
.zselect { position:relative; width:190px; margin-top: 16px; margin-left: 40px; cursor:pointer; background:url(../images/zdt_icon.png) 156px -626px no-repeat;}
.zse_p { width:150px; height:30px; padding-left:6px; border:none; background: none; line-height:30px; text-align: center; font-size:14px; color:#fff;}
.zse_ul { position:absolute; left:-1px; top:30px; width:190px; height: 246px; overflow-y:scroll; border:1px #aaa solid; border-top:none; background-color:#fff; display:none; z-index:91;}
.zse_li a { display:block; height:24px; padding-left:6px; padding-right:6px; line-height:24px;}
.zfl_ml { margin-left: 0;}
.zfl_hover { background-color: #df2121; color: #fff;}
.zfl_white { background-color: #fff;}
.zfl_white .zse_p { color: #333;}






