body { background: #fcfcfc;}
.UnSelect {
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}


.zsetting { margin: 50px; margin-bottom: 0;}
.zsetting-wrap { width: 800px; height: 500px; box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3); background-color: #fff;}

.zsetting-box { display: table; width: 780px; padding: 10px; padding-bottom: 0; height: 400px; overflow: auto;}
.zsetting-box::-webkit-scrollbar { width: 8px;}
.zsetting-box::-webkit-scrollbar-track { width: 8px;}
.zsetting-box::-webkit-scrollbar-thumb { border-radius: 4px; background-color: #ddd;}

.zsetting-header { display: table; width: 100%; border-bottom: 1px #ebebeb solid;}
.zsetting-tab { display: table-cell;}
.zsetting-tab li { display: table-cell; line-height: 34px; padding-left: 16px; padding-right: 16px; color: #999;}
.zsetting-tab li.cur { background: -webkit-linear-gradient(#1a9653 0%, #31b16c 70%); background-color: #31b16c; color: #fff;}
.zsetting-close { display: table-cell; width: 40px; line-height: 34px;}

.zsetting-body { }
.zsetting-wide { display: table-cell; padding-right: 20px;}
.zsetting-side { display: table-cell; width: 320px; padding-left: 10px;}
.zsetting-group { margin-bottom: 20px; border: 1px #f5f6f8 solid;}
.zsetting-type { padding-right: 5px; padding-left: 5px; font-size: 12px; color: #999;}
.zsetting-h { padding-top: 10px; padding-bottom: 8px; font-size: 12px; color: #999; font-weight: normal;}
.zsetting-row { padding-top: 5px; padding-bottom: 5px; display: table;}
.zsetting-field { display: table-cell; padding-right: 5px; padding-left: 5px; white-space: nowrap;}
.zsetting-value { display: table-cell; padding-right: 10px;}
.zsetting-input,
.zsetting-input1,
.zsetting-input2,
.zsetting-input3 { width: 46px; height: 20px; border: none; border-bottom: 1px #ebebeb solid; background: none; text-align: center;}
.zsetting-input1 { width: 66px;}
.zsetting-input2 { width: 100px;}
.zsetting-input3 { width: 166px;}
.zsetting-w100 { width: 100%;}
.zsetting-textarea {}
.zsetting-textarea textarea { width: 100%; height: 216px; resize: none; border: 1px #ebebeb dashed; box-sizing: border-box;}
.zsetting-textarea textarea::-webkit-scrollbar { width: 8px;}
.zsetting-textarea textarea::-webkit-scrollbar-track { width: 8px;}
.zsetting-textarea textarea::-webkit-scrollbar-thumb { border-radius: 4px; background-color: #ddd;}
.zsetting-radio,
.zsetting-checkbox { display: table-cell; padding-left: 15px;}
.zsetting-radio:first-child,
.zsetting-checkbox:first-child { padding-left: 0;}
.zsetting-footer { padding-top: 10px; padding-right: 10px; text-align: right;}
.zsetting-clear,
.zsetting-use,
.zsetting-ok { display: inline-block; width: 70px; height: 30px; line-height: 30px; font-size: 14px; text-align: center;}
.zsetting-ok { background: #31b16c; color: #fff;}
.zsetting-clear { width: auto; font-size: 12px;}
.zsetting-cancel {}
.zsetting-hide { display: none;}
.zsetting-flag { float: left; margin-left: 40px;}
.zsetting-apply {}
.zsetting-apply input { position: relative; width: 0; height: 0; margin-right: 20px;}
.zsetting-apply input:after { display: inline-block; position: absolute; top: -10px; content: ''; width: 10px; height: 10px; border: 1px #ebebeb solid; background-color: #ebebeb;}
.zsetting-apply input:checked:after { background-color: #085; border: 1px #085 solid;}
.zsetting-apply input:checked+span { color: #085;}
.zsetting-false,
.zsetting-true { display: inline-block; padding-right: 20px;}
.zsetting-true i,
.zsetting-false i { display: inline-block; vertical-align: middle; width: 4px; height: 4px; border: 1px #ebebeb solid; margin-right: 5px; background-color: #ebebeb}
.zsetting-true i { border: 1px #085 solid; background: #085;}

.isTake { /*color: #008855;*/}
/*.isTake span { position: relative;}
.isTake span:after { display: inline-block; content: ''; position: absolute; border-radius: 50%; width: 5px; height: 8px; background: #008855;}*/
.isTake input { position: relative; width: 0; height: 0; margin-right: 10px;}
.isTake input:after { display: inline-block; position: absolute; top: -8px; content: ''; width: 4px; height: 4px; border: 1px #ebebeb solid; background-color: #ebebeb;}
.isTake input:checked:after { background-color: #085; border: 1px #085 solid;}
