@charset "utf-8";
/* CSS Document */
/*----------------------------------------------------
Default
-----------------------------------------------------*/
*html{ background-image:url("IE6-fixed-FangDou"); background-attachment:fixed;}
body,ul,ol,dl,dt,dd,li,p,h1,h2,h3,h4,h5,h6,form,label,fieldset,table,td,img,div,th{
border:0;margin:0px; padding:0;}
li,dd,dl,dt {list-style-type:none;}
table {border-collapse:collapse;} 

/*Clear float*/
.clear{ clear:both; line-height:0; font-size:0;  border:none; height:0; }
/*IE6 Empty*/
.empty { line-height:0; font-size:0;}
/*break*/
.fr{ float:right;}
.fl{ float:left;}

/*-----------------------------------------------------
User-defined
-----------------------------------------------------*/
h1 { font-family:Tahoma, Helvetica, Arial, 'Microsoft YaHei', sans-serif; font-size:12px; font-weight:bold;}
h2 { font-family:Tahoma, Helvetica, Arial, 'Microsoft YaHei', sans-serif; font-size:12px; font-weight:bold;}	
body {font-size:12px; font-family:Tahoma, Helvetica, Arial, 'Microsoft YaHei', sans-serif; color:#414141; background:#efefef;}
input,select,textarea{vertical-align:middle; font-family:Tahoma, Helvetica, Arial, 'Microsoft YaHei', sans-serif; color:#333; outline:none; resize:none;}

a:link { color: #555; text-decoration: none; }
a:visited { color: #555; text-decoration: none; }
a:hover { color:#4c8d00; text-decoration: underline; }
a:active { color: #555; text-decoration: none; }

/*-----------------------------------------------------
Top
-----------------------------------------------------*/
.ztop {}

/*-----------------------------------------------------
Header
-----------------------------------------------------*/
.zheader {}

/*-----------------------------------------------------
Nav
-----------------------------------------------------*/
.znav {}


/*-----------------------------------------------------
Footer
-----------------------------------------------------*/
.zfooter {}


.center { width:1024px;  margin:0 auto;}
.test { position:fixed; width:200px; height:200px; border:1px #ccc solid; background-color:#fff; overflow:auto;}


.article .vad .bdsharebuttonbox { display: inline-block; margin: 0 10px; vertical-align: top;}
.article .vad .bdshare-button-style0-24 a { height: 40px; margin: 0 !important; padding: 0; line-height: 40px; font-size: 14px; background-image: none;}
.article p { margin: 24px 0;}
.article .thead { width: 728px; margin: 0 auto;}
.article table { width: 100%;}
.article th, .article td { padding: 10px; border: 1px solid #ddd;}
.article ul, article ol { padding-left: 30px;}
.article ul { list-style-type: disc;}
.article ol { list-style-type: decimal;}
.article .browsers { text-align: center;}
.article pre { max-height: 400px; padding: 10px; border: 1px solid #f0f0f0; font: 13px/24px Consolas,"Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace; background-color: #f8f8f8; overflow: auto;}

.article .tag { margin-bottom: 0;}