@charset "utf-8";
/* CSS Document */

/*======================================================
inputVal
======================================================*/

.inputVal {}
.inputVal li { display:inline-block; width:100px; height:30px; padding-left:20px;}
.inputVal input { width:100px; height:30px; line-height:30px; border:1px #ccc solid; background-color:#fff;}
















