/*-----------------------------------------------------
按钮
-----------------------------------------------------*/
.cx_btn { text-align: center;}
.cx_btn-top { padding: 0.4rem 0; text-align: center;}
.cx_btn-bottom { padding: 0.35rem 0; text-align: center;}
.cx_btn-middle { display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center;}
.cx_btn-double { display: -webkit-box; -webkit-box-pack: center;}
.cx_btn-go ,.cx_btn-end,.cx_btn-hollow { padding: 0 0.3rem; text-align: center;}
.cx_btn-go a,.cx_btn-end a,.cx_btn-end span,.cx_btn-hollow a { display:block; height: 0.79rem; padding-top: 0.01rem; border:1px #09f solid; border-radius: 0.06rem; background: #09f; line-height: 0.79rem; text-align: center; color: #fff; font-size: 0.32rem;}
.cx_btn-end a,.cx_btn-end span { border:1px #c4c4c4 solid; background: #c4c4c4; color: #fff;}
.cx_btn-hollow a { border:1px #09f solid; background: transparent; color: #09f;}
.cx_btn-go a:hover,.cx_btn-go a:focus,.cx_btn-go a:active { text-decoration: none; color: #fff;}
.cx_btn-end a:hover,.cx_btn-end a:focus,.cx_btn-end a:active { text-decoration: none; color:#a4a4a4;}
.cx_btn-double .cx_btn-go ,.cx_btn-double .cx_btn-end ,.cx_btn-double .cx_btn-end ,.cx_btn-double .cx_btn-hollow { width: 40%;}
.cx_btn-double .cx_btn-go a,.cx_btn-double .cx_btn-end a,.cx_btn-double .cx_btn-end span,.cx_btn-double .cx_btn_hollow a { width: 80%;}