@charset "utf-8";
/* CSS Document */
html,
body {
  height: 100%;
}
/*----------------------------------------------------
html5.0 css3.0 default
-----------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
  -webkit-appearance: none;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="text"] {
  -webkit-appearance: none;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
/*a,button,input,textarea {去除IOS按钮阴影和点击阴影*/
* {
  -webkit-tap-highlight-color: transparent;
  /*-webkit-touch-callout: none;*/
}
* {
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  user-select: none;
}
input,
textarea {
  -webkit-user-select: auto;
  /*webkit浏览器*/
  margin: 0px;
  padding: 0px;
  outline: none;
  -webkit-appearance: none;
}
/*----------------------------------------------------
html1.0 css2.0 default
-----------------------------------------------------*/
body,
ul,
ol,
dl,
dt,
dd,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
label,
fieldset,
table,
td,
img,
div,
th {
  border: 0;
  margin: 0px;
  padding: 0;
}
li,
dd,
dl,
dt {
  list-style-type: none;
}
table {
  border-collapse: collapse;
}
em,
i,
u {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
/*-----------------------------------------------------
User-defined
-----------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Tahoma, Helvetica, Arial, 'Microsoft YaHei', sans-serif;
  font-size: 0.1404rem;
  font-weight: normal;
}
body {
  font-size: 12px;
  font-family: Tahoma, Helvetica, Arial, 'Microsoft YaHei', sans-serif;
  color: #333;
  background: #fff;
}
input,
select,
textarea {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-family: Tahoma, Helvetica, Arial, 'Microsoft YaHei', sans-serif;
  color: #333;
  outline: none;
  resize: none;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: #333;
  text-decoration: none;
}
.clearfix {
  overflow: hidden;
  zoom: 1;
}
.clear {
  clear: both;
  height: 0px;
  font-size: 0px;
  line-height: 0px;
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/*禁止选中*/
.cx_unSelect {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cx_br {
  word-wrap: break-word;
  word-break: break-word;
}
.cx_box {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 100vh;
}
.cx_box-top {
  position: relative;
  width: 100%;
  height: 0.0023rem;
  z-index: 100000;
}
.cx_box-content {
  -webkit-box-flex: 1;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  overflow-y: auto;
}
.cx_box-footer {
  position: relative;
  width: 100%;
  height: 1.0764rem;
  z-index: 100;
}
.cx_box-bottom {
  height: 0.0023rem;
}
/*去色*/
.cx_filter {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.8;
}
/*-----------------------------------------------------
公共 UI
-----------------------------------------------------*/
/*背景色 bg - (key word/Hex color)*/
.cx_bgwh {
  background-color: #fff;
}
.cx_bggray {
  background-color: #f5f6f8;
}
/*多余省略号*/
.cx_owt {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*遮罩层*/
.cx_opacity {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  opacity: 0.5;
  display: none;
  z-index: 99;
}
.cx_opacity-info {
  position: fixed;
  left: 0;
  top: 50%;
  width: 100%;
  margin-top: -0.936rem;
  line-height: 0.8775rem;
  text-align: center;
  font-size: .32rem;
  color: rgba(255, 255, 255, 0.8);
  display: none;
  z-index: 101;
}
/*向右箭头*/
.cx_arrow {
  padding-right: .3rem;
  background-image: url(../images/icon5.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 0.3rem;
}
.cx_arrow-color {
  padding-right: .3rem;
  background-image: url(../images/icon5_color.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 0.3rem;
}
/*有键盘时按钮固定底部样式,仅安卓，IOS默认为底部*/
.cx_keyborad {
  position: fixed;
  left: 0;
  top: 7.488rem;
  width: 100%;
  margin-top: -1.404rem;
}
/*标题*/
.cx_ht-lg {
  display: -webkit-box;
  -webkit-box-align: center;
  min-height: .8rem;
  padding: 0 0.3rem;
  font-size: .28rem;
  color: #999;
  background-color: #f5f6f8;
}
.cx_ht-lg h1 {
  font-size: .28rem;
  color: #333;
}
.cx_ht-lg h2 {
  -webkit-box-flex: 1;
  font-size: .28rem;
  color: #333;
}
.cx_ht-md {
  display: -webkit-box;
  -webkit-box-align: center;
  min-height: 0.7rem;
  padding: 0rem 0.3rem;
  font-size: .26rem;
  color: #999;
  background-color: #f5f6f8;
}
.cx_ht-md h1 {
  font-size: .26rem;
  color: #333;
}
.cx_ht-md h2 {
  -webkit-box-flex: 1;
  font-size: .26rem;
  color: #333;
}
.cx_ht-xm {
  display: -webkit-box;
  -webkit-box-align: center;
  min-height: 0.6rem;
  padding: 0rem 0.3rem;
  font-size: .26rem;
  color: #999;
  background-color: #f5f6f8;
}
.cx_ht-xm h1 {
  font-size: .26rem;
  color: #333;
}
.cx_ht-xm h2 {
  -webkit-box-flex: 1;
  font-size: .26rem;
  color: #333;
}
.cx_ht-lg a,
.cx_ht-md a,
.cx_ht-xm a {
  color: #09f;
}
.cx_ht-md .cx_gray,
.cx_ht-lg .cx_gray,
.cx_ht-xm .cx_gray {
  color: #999;
}
/*粗横线*/
.cx_border {
  height: 0.16rem;
  margin-top: 0.351rem;
  background: #f5f6f8;
}
.cx_split {
  height: 0.16rem;
  background: #f5f6f8;
}
.cx_split-max {
  height: 0.2rem;
  background: #f5f6f8;
}
/*按钮式tab切换*/
.cx_tab {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  height: 0.936rem;
}
.cx_tabBox {
  display: -webkit-box;
  -webkit-box-align: center;
  width: 80%;
  height: 0.585rem;
  border: 1px #09f solid;
  border-radius: 0.09rem;
}
.cx_tabBox li {
  -webkit-box-flex: 1;
  height: 0.585rem;
  border-right: 1px #09f solid;
  line-height: 0.585rem;
  text-align: center;
  font-size: .32rem;
  color: #09f;
}
.cx_tabBox li:first-child {
  border-right: none;
  border-radius: .09rem 0 0 .09rem;
}
.cx_tabBox li:last-child {
  border-right: none;
  border-radius: 0 .09rem .09rem 0;
}
.cx_tabBox li.cx_tabBox-cur {
  background: #09f;
  color: #fff;
}
/*标题式tab切换*/
.cx_tabList {
  display: -webkit-box;
  -webkit-box-align: center;
  height: 0.936rem;
}
.cx_tabList li {
  -webkit-box-flex: 1;
  height: 0.936rem;
  border-bottom: 1px #ebebeb solid;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 0.936rem;
  text-align: center;
  font-size: .32rem;
  color: #333;
}
.cx_tabList li:last-child {
  border-right: none;
}
.cx_tabList li.cx_tabList-cur {
  border-bottom: 1px #09f solid;
  color: #09f;
}
/*-----------------------------------------------------
loading
-----------------------------------------------------*/
.zloadingMore {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  text-align: center;
  margin-top: 0.468rem;
}
.zloadingMore .load_btn {
  color: #999;
  font-size: 0.234rem;
}
.zloadingMore .load_btn a {
  line-height: 0.468rem;
  color: #999;
}
.zloadingMore .load_text {
  margin-left: 0.5em;
}
.zloadingMore .loading {
  margin: 0.2em;
  font-size: 10px;
  border-top: 0.2em solid rgba(0, 0, 0, 0.3);
  border-right: 0.2em solid rgba(0, 0, 0, 0.3);
  border-bottom: 0.2em solid rgba(0, 0, 0, 0.3);
  border-left: 0.2em solid #000;
  -webkit-animation: ccircle 1.1s infinite linear;
  animation: ccircle 1.1s infinite linear;
}
.zloadingMore .loading,
.zloadingMore .loading:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}
@-webkit-keyframes ccircle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes ccircle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*----------------------------------------------------
内容为空
-----------------------------------------------------*/
.cx_nothing {
  padding: 1.872rem 0;
}
.cx_nothing-icon {
  width: 1.1232rem;
  min-height: 1.4625rem;
  margin: 0 auto;
  background: center no-repeat;
  background-size: 0.819rem;
}
.cx_nothing-txt {
  padding-top: 0.234rem;
  line-height: 0.468rem;
  font-weight: normal;
  text-align: center;
  font-size: 0.28rem;
  color: #ccc;
}
.cx_nothing-txt:before {
  display: block;
  height: 2.2rem;
  background: url(../images/nothing.png) center no-repeat;
  background-size: 2.31rem 2.2rem;
  content: '';
}
.cx_nothing-txt a {
  color: #09f;
}
.cx_nothing-bottom {
  position: fixed;
  bottom: 0.936rem;
  width: 100%;
}
.cx_over {
  padding-top: 1.05rem;
  padding-bottom: 1.05rem;
}
.cx_over-txt {
  display: -webkit-box;
  -webkit-box-align: center;
  height: .7rem;
  line-height: 0.4rem;
  font-weight: normal;
  -webkit-box-pack: center;
  font-size: 0.32rem;
  background-color: #f5f6f8;
  color: #b3b3b3;
}
.cx_over .cx_over-txt {
  background-color: #fff;
  color: #ccc;
}
/* CSS Document */
/*-----------------------------------------------------
消息弹窗
-----------------------------------------------------*/
.cx_alert {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  display: none;
  z-index: 10000;
}
.cx_alert-box {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 66%;
  height: auto;
  margin-left: -33%;
  display: none;
  z-index: 10001;
}
.cx_alert-content {
  padding: 0.351rem 0.3276rem;
  border-radius: 0.234rem 0.234rem 0 0;
  background: #fff;
  text-align: center;
  color: #333;
  font-size: 0.2574rem;
}
.cx_alert-txt {
  padding-top: 0.117rem;
  line-height: 0.468rem;
}
.cx_alert-btn {
  border-top: 1px #ccc solid;
  border-radius: 0 0 0.234rem 0.234rem ;
  overflow: hidden;
}
.cx_alert-btn ul {
  display: -webkit-box;
  display: box;
}
.cx_alert-blue,
.cx_alert-black {
  -webkit-box-flex: 1;
  box-flex: 1;
  height: 0.936rem;
  background: #fff;
  line-height: 0.936rem;
  text-align: center;
  font-size: 0.2808rem;
  color: #09f;
}
.cx_alert-black {
  color: #333;
}
.cx_alert-blue:not(:last-child),
.cx_alert-black:not(:last-child) {
  border-right: 1px #ccc solid;
}
/*-----------------------------------------------------
黑框提醒弹层
-----------------------------------------------------*/
.cx_alert-bg {
  position: fixed;
  bottom: 16%;
  width: 100%;
  text-align: center;
  opacity: 0;
}
.cx_alert-bg span {
  display: inline-block;
  min-width: 1.17rem;
  padding: 0.234rem 0.468rem;
  background: #333;
  border-radius: 0.1872rem;
  line-height: 0.351rem;
  font-size: 0.2808rem;
  color: #fff;
}
/*--动画--*/
.cx_start {
  -webkit-animation: 0.2s cx_start forwards;
  animation: 0.2s cx_start forwards;
}
@-webkit-keyframes zstart {
  from {
    opacity: 0;
    -webkit-transform: translate(0px, -20px);
    transform: translate(0px, -20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
.cx_end {
  -webkit-animation: 0.2s cx_end forwards;
  animation: 0.2s cx_end forwards;
}
@-webkit-keyframes zend {
  from {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(0px, 20px);
    transform: translate(0px, 20px);
  }
}
/*-----------------------------------------------------
按钮
-----------------------------------------------------*/
.cx_btn {
  text-align: center;
}
.cx_btn-top {
  padding: 0.4rem 0;
  text-align: center;
}
.cx_btn-bottom {
  padding: 0.35rem 0;
  text-align: center;
}
.cx_btn-middle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}
.cx_btn-double {
  display: -webkit-box;
  -webkit-box-pack: center;
}
.cx_btn-go,
.cx_btn-end,
.cx_btn-hollow {
  padding: 0 0.3rem;
  text-align: center;
}
.cx_btn-go a,
.cx_btn-end a,
.cx_btn-end span,
.cx_btn-hollow a {
  display: block;
  height: 0.79rem;
  padding-top: 0.01rem;
  border: 1px #09f solid;
  border-radius: 0.06rem;
  background: #09f;
  line-height: 0.79rem;
  text-align: center;
  color: #fff;
  font-size: 0.32rem;
}
.cx_btn-end a,
.cx_btn-end span {
  border: 1px #c4c4c4 solid;
  background: #c4c4c4;
  color: #fff;
}
.cx_btn-hollow a {
  border: 1px #09f solid;
  background: transparent;
  color: #09f;
}
.cx_btn-go a:hover,
.cx_btn-go a:focus,
.cx_btn-go a:active {
  text-decoration: none;
  color: #fff;
}
.cx_btn-end a:hover,
.cx_btn-end a:focus,
.cx_btn-end a:active {
  text-decoration: none;
  color: #a4a4a4;
}
.cx_btn-double .cx_btn-go,
.cx_btn-double .cx_btn-end,
.cx_btn-double .cx_btn-end,
.cx_btn-double .cx_btn-hollow {
  width: 40%;
}
.cx_btn-double .cx_btn-go a,
.cx_btn-double .cx_btn-end a,
.cx_btn-double .cx_btn-end span,
.cx_btn-double .cx_btn_hollow a {
  width: 80%;
}
.cx_fieldList {
  margin-top: 0.234rem;
  border-top: solid 1px #d8dde4;
  border-bottom: solid 1px #d8dde4;
  background: #fff;
}
/*----------------------------------------------------
list列表对
-----------------------------------------------------*/
.cx_fieldList-group {
  background-image: -webkit-linear-gradient(#ebebeb 70%, transparent 30%), -webkit-linear-gradient(transparent 40%, #ebebeb 60%);
  background-image: linear-gradient(#ebebeb 60%, transparent 40%), linear-gradient(transparent 40%, #ebebeb 60%);
  background-image: -webkit-linear-gradient(#ebebeb 60%, transparent 40%), -webkit-linear-gradient(transparent 40%, #ebebeb 60%);
  background-size: 100% 1px;
  background-position: top,bottom;
  background-repeat: no-repeat;
  background-color: #fff;
  font-size: 0.3rem;
}
.cx_fieldList-arrow {
  display: block;
  padding-right: .3rem;
  background: url(../images/arrow.png) right center no-repeat;
  background-size: .28rem;
  line-height: 1rem;
  color: #333;
}
.cx_fieldList-field {
  display: -webkit-box;
  -webkit-box-pack: justify;
  margin: 0 0.3rem;
  /*padding: 0 0.234rem;*/
  background-image: -webkit-linear-gradient(transparent 30%, #ebebeb 70%);
  background-image: linear-gradient(transparent 30%, #ebebeb 70%);
  background-size: 100% 1px;
  background-position: bottom;
  background-repeat: no-repeat;
  line-height: 0.8775rem;
}
.cx_fieldList-field dt {
  font-size: .32rem;
  color: #333;
}
.cx_fieldList-field dd {
  color: #999;
  text-align: right;
}
.cx_fieldList-field dd .zblue {
  color: #09f;
}
.cx_fieldList-zompany {
  -webkit-box-flex: 1;
  display: -webkit-box;
  height: 0.8775rem;
}
.cx_fieldList-zompany p {
  width: 0.936rem;
  height: 0.585rem;
  margin-top: 0.117rem;
  border: 1px #09f solid;
  border-radius: 0.0936rem;
  background: #09f;
  line-height: 0.585rem;
  text-align: center;
  color: #fff;
  font-size: .32rem;
}
.cx_fieldList-ptop {
  padding-top: 0.1872rem;
}
.cx_fieldList-field:last-child {
  border-bottom: none;
}
.cx_fieldList-flex {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  padding-bottom: 1px;
}
.cx_fieldList-flex input {
  width: 100%;
  border: none;
  background: none;
  font-size: 0.3159rem;
}
.cx_fieldList-space {
  padding-left: 0.234rem;
}
/*----------------------------------------------------
选中状态 
-----------------------------------------------------*/
.cx_fieldList-form {
  padding-left: .3rem;
  padding-top: 1px;
  padding-bottom: 1px;
  background-image: -webkit-linear-gradient(#ebebeb 70%, transparent 30%), -webkit-linear-gradient(transparent 40%, #ebebeb 60%);
  background-image: linear-gradient(#ebebeb 60%, transparent 40%), linear-gradient(transparent 40%, #ebebeb 60%);
  background-image: -webkit-linear-gradient(#ebebeb 60%, transparent 40%), -webkit-linear-gradient(transparent 40%, #ebebeb 60%);
  background-size: 100% 1px;
  background-position: top,bottom;
  background-repeat: no-repeat;
  background-color: #fff;
  font-size: 0.3rem;
}
.cx_fieldList-row {
  display: -webkit-box;
  padding: 0.2rem 0rem;
  padding-right: .3rem;
  background-image: -webkit-linear-gradient(transparent 50%, #ebebeb 50%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #fff;
  line-height: 0.6rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cx_fieldList-row:last-child {
  background: #fff;
}
.cx_fieldList-row dt {
  font-size: 0.32rem;
  color: #333;
}
.cx_fieldList-row dd {
  -webkit-box-flex: 1;
  color: #1785fb;
  font-size: 0.32rem;
}
.cx_fieldList-row dd {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: right;
}
.cx_fieldList-row dd a {
  color: #09f;
}
.cx_fieldList-row dd span,
.cx_fieldList-row dd input {
  vertical-align: middle;
}
.cx_fieldList-check {
  padding-left: 0.1638rem;
}
.cx_fieldList-check input {
  position: relative;
  width: 1px;
  height: 1px;
  margin-right: 0.3393rem;
}
.cx_fieldList-check input:after {
  content: '';
  position: absolute;
  left: -0.1638rem;
  top: -0.2106rem;
  width: 0.468rem;
  height: 0.468rem;
  background: url(../images/radio_check.png) no-repeat;
  background-size: 0.4212rem;
}
.cx_fieldList-check input:checked:after {
  background-image: url(../images/circle_checked.png);
}
.cx_fieldList-radio {
  display: -webkit-box;
  -webkit-box-align: center;
  padding-left: 0.1638rem;
}
.cx_fieldList-radio input {
  position: relative;
  width: 1px;
  height: 1px;
  margin-right: 0.3393rem;
}
.cx_fieldList-radio input:after {
  content: '';
  position: absolute;
  left: -0.1638rem;
  top: -0.2106rem;
  width: 0.468rem;
  height: 0.468rem;
  background: url(../images/radio_check.png) no-repeat;
  background-size: 0.4212rem;
}
.cx_fieldList-radio input:checked:after {
  background-image: url(../images/radio_checked.png);
}
/* CSS Document */
/*----------------------------------------------------
portrait头像
-----------------------------------------------------*/
.cx_portrait {
  padding-left: .3rem;
  padding-bottom: .3rem;
}
.cx_portrait-row {
  display: -webkit-box;
  display: box;
  padding-left: 0.3rem;
}
.cx_portrait-num {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  width: 0.48rem;
  margin-right: 0.22rem;
  line-height: 1.03rem;
  font-size: 0.26rem;
  color: #ff3b30;
  text-align: center;
}
.cx_portrait-num {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  width: 0.468rem;
  margin-right: 0.234rem;
  line-height: 1.0296rem;
  font-size: 0.3744rem;
  color: #ff3b30;
  text-align: center;
}
.cx_portrait-row:nth-child(n+4) .zre_num {
  color: #999;
}
.cx_portrait-pic {
  position: relative;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.117rem 0;
  border-radius: 0.08rem;
  border: 1px #ebebeb solid;
  text-align: center;
}
.cx_portrait-pic img {
  width: 0.8rem;
  border-radius: 0.08rem;
}
.cx_portrait-pic span,
.cx_portrait-pic em {
  display: inline-block;
  position: absolute;
}
.cx_portrait-pic span {
  position: absolute;
  left: -0.5148rem;
  top: -0.234rem;
  width: 0.7605rem;
  height: 0.7254rem;
}
.cx_portrait-pic em {
  width: 0.7605rem;
  height: 0.7254rem;
  background: url(../images/kinghap_03.png) no-repeat;
  background-size: 0.5616rem;
}
.cx_portrait-txt {
  -webkit-box-flex: 1;
  display: -webkit-box;
  display: box;
  padding: .05rem .3rem .05rem 0;
  margin-left: 0.24rem;
  background-image: -webkit-linear-gradient(transparent 40%, #ebebeb 60%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
}
.cx_portrait-th {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}
.cx_portrait-th i {
  display: inline-block;
  padding: 0rem 0.07rem 0.02rem;
  border-radius: 0.04rem;
  background: #09f;
  color: #fff;
  font-size: 0.26rem;
}
.cx_portrait-name {
  display: -webkit-box;
  -webkit-box-align: center;
  height: .32rem;
  line-height: .32rem;
  font-size: 0.26rem;
  color: #333;
}
.cx_portrait-th a {
  display: block;
  font-size: 0.3rem;
  color: #333;
  cursor: pointer;
}
.cx_portrait-th a:hover,
.cx_portrait-th a:focus,
.cx_portrait-th a:active {
  color: #333;
  text-decoration: none;
}
.cx_portrait-tt {
  line-height: .37rem;
  font-size: 0.234rem;
  color: #999;
}
.cx_portrait-message {
  padding-top: .12rem;
  min-height: .35rem;
  line-height: .35rem;
  font-size: .28rem;
  color: #999;
}
.cx_portrait-right {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  font-size: 0.24rem;
  color: #999;
  text-align: right;
}
.cx_portrait-right h2 {
  line-height: 0.56rem;
  font-size: 0.24rem;
  max-width: 2.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cx_portrait-right span,
.cx_portrait-right i,
.cx_portrait-right em {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.3rem;
}
.cx_portrait-right img {
  width: 0.7rem;
  height: 0.94rem;
  margin-left: 0.24rem;
  border-radius: 0.09rem;
}
.cx_portrait-red {
  color: red;
}
.cx_portrait-blue {
  color: #09f;
}
.cx_portrait-arrowr {
  padding-right: 0.38rem;
  background: url(../images/arrow_small.png) right center no-repeat;
  background-size: 0.24rem;
}
.cx_portrait-arrowd {
  padding-right: 0.38rem;
  background: url(../images/arrowDown_03.png) right center no-repeat;
  background-size: 0.24rem;
}
/*多选*/
.cx_portrait-checkbox {
  display: -webkit-box;
  -webkit-box-align: center;
  width: .8rem;
}
.cx_portrait-checkbox input[type='checkbox'] {
  width: 0px;
  height: 0px;
}
.cx_portrait-checkbox input[type='checkbox']:after {
  display: block;
  content: '';
  margin-left: -0.05rem;
  margin-top: -0.25rem;
  width: .5rem;
  height: .5rem;
  background-image: url(../images/checkbox.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: .48rem;
}
.cx_portrait-checkbox input[type='checkbox']:checked:after {
  background-image: url(../images/checkbox_checked.png);
}
/*单选*/
.cx_portrait-radio {
  display: -webkit-box;
  -webkit-box-align: center;
  width: .8rem;
}
.cx_portrait-radio input[type='radio'] {
  width: 0px;
  height: 0px;
}
.cx_portrait-radio input[type='radio']:after {
  display: block;
  content: '';
  margin-left: -0.05rem;
  margin-top: -0.25rem;
  width: .5rem;
  height: .5rem;
  background-image: url(../images/radioLg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: .48rem;
}
.cx_portrait-radio input[type='radio']:checked:after {
  background-image: url(../images/radioLg_checked.png);
}
/*小花修饰*/
.cx_portrait-align {
  display: -webkit-box;
  -webkit-box-align: center;
}
.cx_portrait-flower {
  margin-left: 3px;
}
.cx_portrait-star {
  margin-left: 2px;
}
.cx_portrait-flower .petalNew {
  margin-top: -12px;
}
.cx_portrait-star .starBox {
  margin-top: 1px;
}
/*小花右侧内容*/
.cx_portrait-flex {
  -webkit-box-flex: 1;
  text-align: right;
  font-size: .28rem;
  color: #999;
}
/*-----------------------------------------------------
search
-----------------------------------------------------*/
.cx_search {
  padding: .22rem .3rem;
}
.cx_search_box {
  display: -webkit-box;
  -webkit-box-align: center;
  position: relative;
  height: .56rem;
  border-radius: .56rem;
  background-color: #f9f9f9;
}
.cx_search_box a {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: .56rem;
  width: .76rem;
}
.cx_search_box input[type='text'] {
  display: block;
  -webkit-box-flex: 1;
  height: .56rem;
  line-height: .56rem;
  padding-left: 0;
  border: none;
  border-radius: .56rem;
  background: url(../images/magnifier@2x.png) center no-repeat;
  background-size: 1.12rem .33rem;
  text-align: center;
  color: #b3b3b3;
  font-size: .28rem;
}
.cx_search_box input[type='text']::-webkit-input-placeholder {
  padding-left: .5rem;
  line-height: .56rem;
}
.cx_search_focus a {
  display: block;
}
.cx_search_focus input[type='text'] {
  padding-left: .76rem;
  background-position: .26rem center;
  text-align: left;
  color: #333;
}
.cx_search_focus input[type='text']::-webkit-input-placeholder {
  padding-left: .0rem;
  line-height: .56rem;
}
/*-----------------------------------------------------
switch
-----------------------------------------------------*/
.cx_switch-set {
  display: -webkit-box;
  -webkit-box-pack: justify;
  height: .86rem;
  padding: 0 0.3rem;
  background-image: -webkit-linear-gradient(transparent 34%, #ebebeb 66%);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 1px;
  background-color: #fff;
}
.cx_switch-set dt {
  line-height: .78rem;
  font-size: .32rem;
  color: #333;
}
.cx_switch {
  width: 0.8424rem;
  height: 0.4914rem;
  position: relative;
  margin-top: .14rem;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 0.234rem;
  border-top-left-radius: 0.234rem;
  border-top-right-radius: 0.234rem;
  border-bottom-left-radius: 0.234rem;
  border-bottom-right-radius: 0.234rem;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
}
.cx_switch:before {
  content: '';
  width: 0.4446rem;
  height: 0.4446rem;
  position: absolute;
  top: 0;
  left: .02rem;
  border-radius: 0.234rem;
  border-top-left-radius: 0.234rem;
  border-top-right-radius: 0.234rem;
  border-bottom-left-radius: 0.234rem;
  border-bottom-right-radius: 0.234rem;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.cx_switch:checked {
  border-color: #09f;
  box-shadow: #09f 0 0 0 16px inset;
  background-color: #09f;
}
.cx_switch:checked:before {
  left: 0.3744rem;
}
.cx_switch.cx_switch-animbg {
  transition: background-color ease 0.4s;
}
.cx_switch.cx_switch-animbg:before {
  transition: left 0.3s;
}
.cx_switch.cx_switch-animbg:checked {
  box-shadow: #dfdfdf 0 0 0 0 inset;
  background-color: #09f;
  transition: border-color 0.4s, background-color ease 0.4s;
}
.cx_switch.cx_switch-animbg:checked:before {
  transition: left 0.3s;
}
/*-----------------------------------------------------
底部菜单
-----------------------------------------------------*/
.cx_bottomMenu-site {
  position: absolute;
  bottom: 0.1404rem;
  left: 5%;
  width: 90%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  z-index: 100;
}
a.cx_bottomMenu-closebtn {
  display: block;
  margin-top: 0.0936rem;
  border-radius: 0.0936rem;
  background: #fff;
  color: #c00;
  line-height: 1.0296rem;
  text-align: center;
  font-size: 0.351rem;
}
.cx_bottomMenu-itembox {
  overflow: hidden;
  border-radius: 0.117rem;
}
.cx_bottomMenu-row {
  width: 100%;
  border-bottom: solid 1px #d8dde4;
  line-height: 1.0296rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  text-align: center;
}
.cx_bottomMenu-row a {
  display: block;
  color: #09f;
  font-size: 0.351rem;
}
.animated {
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  0% {
    -webkit-transform: translate(0, 60px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0px);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    -webkit-transform: translate(0, 60px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0px);
    opacity: 1;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
  0% {
    -webkit-transform: translate(0, 0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 60px);
    opacity: 0;
  }
}
@keyframes fadeInDown {
  0% {
    -webkit-transform: translate(0, 0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 60px);
    opacity: 0;
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
/* CSS Document */
.cx_upLoadImgList {
  border-bottom: 1px #ebebeb solid;
  border-top: 1px #ebebeb solid;
  background: #fff;
}
/*----------------------------------------------------
单行文本输入
-----------------------------------------------------*/
.cx_upLoadImg-input {
  display: -webkit-box;
  display: box;
  width: 100%;
  padding: 0.234rem 0;
  padding-top: 0;
  box-sizing: border-box;
}
.cx_upLoadImg-typeText {
  -webkit-box-flex: 1;
  height: 0.8775rem;
  padding-left: 0.3rem;
  -webkit-transiton: 0.6s all ease;
  border-bottom: 1px #ebebeb solid;
  border-top: 1px #ebebeb solid;
  background: #fff;
}
.cx_upLoadImg-typeText input {
  width: 100%;
  height: 0.8775rem;
  border: none;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  line-height: none;
  line-height: normal;
  font-size: 0.351rem;
  color: #333;
}
.cx_upLoadImg-typeText input::-webkit-input-placeholder {
  font-size: 0.3042rem;
}
.cx_upLoadImg-tt {
  height: 0.8775rem;
  border-bottom: 1px #ebebeb solid;
  border-top: 1px #ebebeb solid;
  background: #fff;
  line-height: 0.8775rem;
  font-size: 0.351rem;
  color: #999;
}
.cx_cameraBtn {
  -webkit-transiton: 1.6s all ease;
  width: 1.1232rem;
  padding-left: 0.1404rem;
  padding-right: 0.234rem;
  height: 0.8775rem;
  border-bottom: 1px #ebebeb solid;
  border-top: 1px #ebebeb solid;
  background: #fff;
  text-align: right;
}
.cx_cameraBtn span {
  display: inline-block;
  width: 0.819rem;
  height: 0.819rem;
  background: url(../images/camera_03.png) no-repeat;
  background-position: center;
  background-size: 0.5616rem;
  line-height: 0.819rem;
  font-size: 0.3rem;
  color: #09f;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.cx_addBtn {
  padding-left: 0.1404rem;
  padding-right: 0.234rem;
  height: 0.8775rem;
  border-bottom: 1px #ebebeb solid;
  border-top: 1px #ebebeb solid;
  background: #fff;
  text-align: right;
}
.cx_addBtn span {
  display: block;
  width: 0.468rem;
  height: 0.468rem;
  margin-top: 0.2223rem;
  background: url(../images/add_32.png) no-repeat;
  background-size: 0.3744rem;
}
/*----------------------------------------------------
多行文本输入
-----------------------------------------------------*/
.cx_upLoadImgList-contenteditable textarea {
  -webkit-appearance: none;
  width: 100%;
  min-height: 1.404rem;
  padding: 0.0936rem 0.3rem 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  outline: none;
  background: #fff;
  line-height: 0.585rem;
  font-size: 0.32rem;
  color: #333;
}
/*上传图片按钮浮在输入框上*/
.cx_cameraBtn1 {
  position: relative;
  width: 100%;
  height: 0;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.cx_cameraBtn1 span {
  position: absolute;
  right: 0.234rem;
  top: -0.7371rem;
  width: 0.702rem;
  height: 0.702rem;
  background: url(../images/camera_03.png) no-repeat;
  background-position: center;
  background-size: 0.5616rem;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
/*带标题*/
.cx_upLoadImgList-intitle {
  padding: 0.1872rem 0;
  padding-bottom: 0;
}
.cx_upLoadImgList-intitle h2 {
  padding: 0.1404rem 0.3rem 0.1521rem 0.3rem;
  line-height: 1.4;
  font-size: 0.32rem;
  color: #333;
  word-wrap: break-word;
  word-break: break-all;
}
.cx_upLoadImgList-intitle h2 span {
  color: #999;
}
/*上传后图片列表*/
.cx_upLoadImgList-img,
.cx_upLoadImgList-img1 {
  padding: 0 0.3rem;
}
.cx_upLoadImgList-img1 {
  border-bottom: 1px #ebebeb solid;
}
.cx_upLoadImgList-imgList {
  padding: 0.117rem 0 0 0;
}
.cx_upLoadImgList-rel {
  position: relative;
  display: inline-block;
  letter-spaceing: -0.0468rem;
  width: 1.18rem;
  height: 1.18rem;
  margin-bottom: 0.26rem;
  margin-right: 0.4563rem;
}
.cx_upLoadImgList-view {
  display: inline-block;
  overflow: hidden;
  width: 1.18rem;
  height: 1.18rem;
  border-radius: 0.0936rem;
}
.cx_upLoadImgList-close {
  position: absolute;
  right: -0.22rem;
  top: -0.22rem;
  width: 0.44rem;
  height: 0.44rem;
  background: url(../images/delete_06.png) center no-repeat;
  background-size: .42rem;
  z-index: 10;
}
.cx_upLoadImgList-addImg {
  display: inline-block;
  letter-spaceing: -0.0468rem;
  width: 1.18rem;
  height: 1.18rem;
  margin-bottom: 0.26rem;
  border: 1px #ebebeb solid;
  border-radius: .08rem;
  background: url(../images/add_03.png) center no-repeat;
  background-size: 0.6rem;
  vertical-align: top;
}
.cx_upLoadImgList-addImg:first-child {
  background-image: url(../images/cameraicon.png);
  border: none;
}
.cx_upLoadImgList-h {
  padding: 0 0.3rem 0.0234rem;
  line-height: 0.3744rem;
  font-size: 0.32rem;
  color: #999;
}
/*----------------------------------------------------
借助swiper 大图预览
-----------------------------------------------------*/
.imgLarge_item {
  display: table-cell;
  height: 3.744rem;
  text-align: center;
  vertical-align: middle;
}
.imgLarge_item img {
  max-width: 100%;
  max-height: 100%;
}
.cx_listImgs {
  width: 100%;
  padding: 0.234rem 0 0.0936rem;
}
.cx_listImgs p {
  margin: 0 0.3rem;
  margin-left: 0.234rem;
  padding-bottom: 0.1404rem;
}
.cx_listImgs p img {
  max-width: 100%;
}
/*----------------------------------------------------
图片展示列表
-----------------------------------------------------*/
.cx_imgList {
  border-bottom: 1px #ebebeb solid;
  background-color: #fff;
}
/*标题*/
.cx_imgList-header {
  padding: 0.3rem 0.3rem;
}
.cx_imgList-header h2 {
  line-height: 1.5;
  font-size: 0.32rem;
  color: #333;
}
/*图片列表*/
.cx_imgList-box {
  padding-bottom: 0.3rem;
  margin-left: 0rem;
}
.cx_imgList-item {
  width: 1.94rem;
  height: 1.94rem;
  margin-right: .1rem;
}
.cx_imgList-item:first-child {
  margin-left: .3rem;
}
.cx_imgList-item:last-child {
  margin-right: .3rem;
}
.cx_imgList-bg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cx_imgList-img {
  height: 100%;
}
.cx_imgList-imgw100 img {
  width: 100%;
  display: inline-block;
}
.cx_imgList-imgh100 img {
  height: 100%;
  display: inline-block;
}
.cx_imgList-th {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 97.5%;
  padding-left: 2.5%;
  height: 20px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
