<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>自定义-自定义</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css">
	.cssaaa { background: #080808; color: #fff;}
</style>
</head>

<body>
<!--main start-->
<div class="zmain">
	<div class="">
		{{hello}}
		<input type="checkbox" name="" id="addclass" v-model="css1" value=""/><label for="addclass">添加/删除样式</label>
	</div>
	<div v-html="t" v-bind:class="{'cssaaa':css1}"> </div>
	<div class="cssaaa" v-if="see">可以看到{{5+5}}{{hello | delStr('h')}} {{hello.split(' ').reverse().join(' ') | delStr}}</div>
	<h2>希望输入：<input type="text" v-model="count" v-on:blur="warning1" v-on:focus="warning" /></h2>
	<div class="" v-bind:id="'id'+idnum">显示：{{count}}</div>
	<input type="button" name="" id=""  v-bind:value="idnum" @click="yes('你开')"/>
 </div> <!--main end-->
<script type="text/javascript">
	var aa=function (c){
		alert(c);
	}
	
	var delStr=function(value,delStr){
				if(!value) return ''
				return value.split(delStr).join('');
			}
	new Vue({
		el:'.zmain',
		data:{
			hello:'hello Vue.js 标签class Main',
			t:'<h2>标题h2标签</h2>',
			css1:false,
			count:'aaa',
			see:true,
			idnum:'kke'
		},
		methods:{
			warning:function(){
				if(this.count=='aaa'||this.count==''||this.count=='请输入内容'){
					this.count='';
					aa();
				}
			},
			warning1:function(){
				if(this.count=='aaa'||this.count==''){
					this.count='请输入内容';
				}
			},
			yes:aa
		},
		filters:{
			delStr:delStr
		}
	});
	
	
	
</script>
</body>
</html>
