@charset "utf-8";
/* CSS Document */

/*-----------------------------------------------------
弹层
-----------------------------------------------------*/
.zhistory { padding-top: 1rem;}
	.zhistory_top { position: relative; display: -webkit-box; height: 8rem; padding-left: 2.7rem; z-index: 1;}
	.zhistory_logo { width: 8rem; height: 8rem;}
	.zhistory_logo img { width: 8rem; height: 8rem;}
	.zhistory_info { padding-top: 1.2rem; padding-left: 1rem; line-height: 1.4;}
	.zhistory_info dt { font-size: 1.6rem; color: #333;}
	.zhistory_info dd { font-size: 1.2rem; color: #666;}
	.zhistory_info dd span { color: #008000;}
	.zhistory_info dd.ztime { font-size: 1.1rem;}
	.zhistory_row { position: relative; height: 3.6rem; width: 100%; font-size: 1.2rem;}
	.zhistory_time { position: absolute; left: 2rem; top: -2.3rem; height: 3.6rem; line-height: 2.2;}
	.zhistory_num,.zhistory_start { position: absolute; left: 6.2rem; top: -1.0rem; width: 1rem; height: 4rem; border-radius: 0.6rem; background: #929292;}
	.zhistory_num i { position: absolute; left: -0.25rem; top: -0.6rem; width: 1.45rem; height: 1.45rem; border-radius: 50%; background: #fff; line-height: 1.45rem; text-align: center; font-size: 1rem; z-index: 1;}
	.zhistory_num:before,.zhistory_num:after { position: absolute; left: -0.25rem; top: -0.6rem; content: ''; background:#fff; display: inline-block;width: 1.4rem; height: 1.4rem; border-radius: 100%; vertical-align: middle; -webkit-transform: scale(0.5,0.5);}
	.zhistory_num:before,.zhistory_num:after  { background:#fff; box-shadow: 0px 0px 0px 1rem rgba(255,255,255,0.8); opacity: 0.8;}
	.zhistory_num:before{ -webkit-animation: 3.6s ease-in-out infinite kuosan; }
	.zhistory_num:after { -webkit-animation: 3.6s ease-in-out infinite kuosan;  -webkit-animation-delay:1s;}
	.zhistory_num i { -webkit-animation: 3.6s ease-in-out infinite kuosan1;}
	
	.zhistory_num i.zfirst:after,.zhistory_num i.zlast:after{position:absolute; left: 0.3rem; top: 0.3rem; border-radius: 100%; content: ''; display: inline-block;width: 0.85rem; height: 0.85rem; opacity: 0.7;}
	.zhistory_num i.zfirst:after{ background:#ffb61a;}
	.zhistory_num i.zlast:after{ background:#9fb460;}
	
	
	.zhistory_icon { position: absolute; left: 8.8rem; top: -1.8rem; width: 2rem; height: 2rem; text-align: center;}
	.zhistory_icon img { width: 2.4rem;}
	.zhistory_title { position: absolute; left: 12.4rem; top: -1.7rem; line-height: 1.4;}
	.zhistory_title em { padding-left: 0.6rem; font-size: 1.1rem; color: #929292;}
	.zhistory_title span { padding-left: 0.8rem; font-size: 1.1rem; color: #333;}
	.zhistory_orange { background: #fba01b;}
	.zhistory_dodgerblue { background: #21a9e3;}
	.zhistory_megents { background: #d1108d;}
	.zhistory_darkcyan { background: #00abb9;}
	.zhistory_chartreuse { background: #cedd2c;}
	.zhistory_royalblue { background: #2d7ec9;}
	.zhistory_firebrick { background: #e26162;}
	.zhistory_gold { background: #ffb61a;}
	.zhistory_seagreen{ background: #65bb67;}
	.zhistory_darkorchid { background: #ae82cd;}
	.zhistory_dimgray { background: #878787;}
	.zhistory_greenyellow { background: #9fb460;}
	
	@-webkit-keyframes kuosan{
		0%{ -webkit-transform: scale(0.5,0.5); opacity: 1;}
		100%{ -webkit-transform: scale(1.2,1.2); opacity: 0;}
	}
	
	@-webkit-keyframes kuosan1{
		0%{ -webkit-transform: scale(0.9,0.9); opacity: 0.9;}
		50%{ -webkit-transform: scale(1,1); opacity: 1;}
		100%{ -webkit-transform: scale(0.9,0.9); opacity: 0.9;}
	}