@charset "utf-8";
/* CSS Document */

/*----------------------------------------------------
单选和多选（普通状态）
-----------------------------------------------------*/

.zcheckB,.zcheckR { overflow: hidden;}
.zcheckB label,.zcheckR label { display: -webkit-box; width: 100%; /*height:0.6435rem;*/}
.zcheckB input[type=checkbox],.zcheckR input[type=radio] { position: absolute; /*left: -23400.rem; top: 117000.rem;*/ display: none;} 
.zcheckB span,.zcheckB em,.zcheckR span,.zcheckR em { display: block;}
.zcheckB span,.zcheckR span { -webkit-box-flex: 1;}
.zcheckB b,.zcheckR b { font-weight: normal; color: #999;}

.zcheckB input[type=text],.zcheckR input[type=text] { display: block; -webkit-box-flex: 1; height: 0.6084rem; margin-left: 0.234rem; padding-right: 0.234rem; border: none; background: none; line-height: 0.585rem; vertical-align: middle;}

/*----------------------------------------------------
单选和多选(编辑状态)
-----------------------------------------------------*/
.zcheckB_edit,.zcheckR_edit { display: -webkit-box;}
.zcheckB_edit label,.zcheckR_edit label { display: -webkit-box;}
.zcheckB_edit input[type=checkbox],.zcheckR_edit input[type=radio],.zcheckR_edit input[type=checkbox] { position: absolute; left: -234.rem;}
.zcheckB_edit span,.zcheckB_edit em,.zcheckR_edit span,.zcheckR_edit em { display: block; }
.zcheckB_edit b,.zcheckR_edit b { font-weight: normal; color: #999;}

.zcheckB_edit input[type=text],.zcheckR_edit input[type=text] { display: block; -webkit-box-flex: 1; height: 0.6084rem; margin-left: 0.234rem; padding-right: 0.234rem; border: none; background: none; line-height: 0.585rem; vertical-align: middle;}

/*----------------------------------------------------
选中状态
-----------------------------------------------------*/
.zcheck,.zchecked {margin-right: 0.0936rem;}
.zcheckB .zcheck i,.zcheckB .zchecked i,
.zcheckR .zcheck i,.zcheckR .zchecked i {  display: inline-block; width: 0.468rem; height: 0.6084rem; background-repeat: no-repeat; background-position: center;  background-size: 0.4212rem;}
.zcheckB .zcheck i,.zcheckB .zchecked i { background-image: url(../images/radio_check.png);}
.zcheckB .zchecked i { background-image: url(../images/circle_checked.png);}
.zcheckR .zcheck i,.zcheckR .zchecked i { background-image: url(../images/radio_check.png);}
.zcheckR .zchecked i { background-image: url(../images/radio_checked.png);}

/*分组*/
.zgroup {}
.zgroup .zcheck i { background-image: none;}
.zgroup .zchecked i { background-image: url(../images/right_01.png);}
.zswitch_set { background-image: -webkit-linear-gradient(transparent 40%, #ebebeb 60%); background-repeat: no-repeat; background-position: bottom; background-size: 100% 1px; background-color: #fff;}