@charset "utf-8";
/* CSS Document */
/*----------------------------------------------------
portrait头像 可以列表
-----------------------------------------------------*/
.zportrait {}
.zportrait-row { display: -webkit-box; display: box; padding-top: .28rem; padding-bottom: .25rem; padding-left: .3rem; padding-right: .3rem; background-image: -webkit-linear-gradient(transparent 50%,#ebebeb 50%); background-size: 100% 1px; background-repeat: no-repeat; background-position: bottom; background-color: #fff;}
.zportrait-pic { position: relative; width: .68rem; height: .68rem; border-radius: .08rem; text-align: center;}
.zportrait-pic img { width: .68rem; height: .68rem; border-radius: .08rem;}

.zportrait-txt { -webkit-box-flex:1; display: -webkit-box; margin-left: 0.2rem;}
.zportrait-th { -webkit-box-flex:1;}
.zportrait-name { display: -webkit-box; -webkit-box-align: center; height: .32rem; line-height: .32rem; font-size: 0.26rem; color: #333;}
.zportrait-flex { -webkit-box-flex: 1; text-align: right; font-size: .28rem; color: #999;}
.zportrait-tt { padding-top: .12rem; min-height: .35rem; line-height: .35rem; font-size: .28rem; color: #000;}
.zportrait-tt span { color: #ff3b30;}
.zportrait-tg { padding-top: .12rem; min-height: .35rem; line-height: .35rem; font-size: .28rem; color: #999;}

/*小花修饰*/
.zportrait-align { display: -webkit-box; -webkit-box-align: center; }
.zportrait-flower { margin-left: 3px;}
.zportrait-star { margin-left: 2px;}
.zportrait-flower .petalNew{margin-top: -12px;}
.zportrait-star .starBox { margin-top:1px;}