@charset "utf-8";
/* CSS Document */
/*学生列表*/
.zstudentList { background-image: -webkit-linear-gradient(#ebebeb 50%,transparent 50%); background-size: 100% 1px; background-repeat: no-repeat; background-position: top; background-color: #fff; }
/*----------------------------------------------------
portrait头像 可以列表
-----------------------------------------------------*/
.zportrait { padding-left: .3rem; padding-bottom: .3rem;}
.zpo_row,.zpo_rowList,.zpo_row_2x ,.zpo_row_3x { display: -webkit-box; display: box; padding-left: 0.3rem;}
.zpo_rowList { padding-left: 0.3rem;}
/*.zpo_rowList:last-child { background-image: -webkit-linear-gradient(transparent 30%,#ebebeb 70%); background-size: 100% 1px; background-repeat: no-repeat; background-position: bottom;}*/
.zre_num { display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center; width: 0.48rem; margin-right: 0.22rem; line-height: 1.03rem; font-size: 0.26rem; color: #ff3b30; text-align: center;}
.zpo_row:nth-child(n+4) .zre_num { color: #999;}
.zpo_row:nth-child(n+99) .zre_num { font-size: .2rem;}
.zpo_row .znumberOne { background: url(../images/numberOne.png) center no-repeat; background-size: 0.42rem;}
.zpo_pic { position: relative; width: 0.8rem; height: 0.8rem; margin: 0.117rem 0; border-radius: 0.08rem; border: 1px #ebebeb solid; text-align: center;}
.zpo_pic img { width: 0.8rem; border-radius: 0.08rem;}
.zpo_pic span,.zpo_pic em { display: inline-block; position: absolute;}
.zpo_pic span { position: absolute; left: -0.5148rem; top: -0.234rem; width: 0.7605rem; height: 0.7254rem;}
.zpo_pic em { width: 0.7605rem; height: 0.7254rem; background: url(../images/kinghap_03.png) no-repeat; background-size: 0.5616rem;}
.zpo_txt { -webkit-box-flex:1; display: -webkit-box; display: box; padding: .05rem .3rem .05rem 0; margin-left: 0.24rem; background-image: -webkit-linear-gradient(transparent 40%, #ebebeb 60%); background-size: 100% 1px; background-repeat: no-repeat; background-position: bottom;}
/*.zpo_rowList:last-child .zpo_txt { background-image: none;}*/
.zpo_th { -webkit-box-flex:1; display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center;}
.zpo_th i { display: inline-block; padding: 0rem 0.07rem 0.02rem; border-radius: 0.04rem; background: #09f; color: #fff; font-size: 0.26rem;}
.zpo_th a { display: block; /*line-height: 0.468rem;*/ font-size: 0.3rem; color: #333; cursor: pointer;}
.zpo_th a:hover,.zpo_th a:focus,.zpo_th a:active { color:#333; text-decoration: none;}
.zpo_th p { height: 0.3744rem; font-size: 0.234rem; color: #999;}
.zpo_th p.zpo_t { line-height: 0.3744rem; color: #999;}
.zpo_time { display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center; font-size: 0.24rem; color: #999;  text-align: right;}
.zpo_time h2 { line-height: 0.56rem; font-size: 0.24rem;  max-width: 2.8rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.zpo_time p { /*line-height: 0.3744rem;因签到列表左右没对齐故去掉*/}
.zpo_time span, .zpo_time i,.zpo_time em {display: inline-block; vertical-align: middle; font-size: 0.3rem;}
.zpo_time img { width: 0.7rem; height: 0.94rem; margin-left: 0.24rem; border-radius: 0.09rem;}
.zpo_red { color: red;}
.zpo_blue { color: #09f;}
.zpo_arrowr { padding-right: 0.38rem; background: url(../images/arrow_small.png) right center no-repeat; background-size: 0.24rem;}
.zpo_arrowd { padding-right: 0.38rem; background: url(../images/arrowDown_03.png) right center no-repeat; background-size: 0.24rem;}
/*多选*/
.zpo_checkbox { display: -webkit-box; -webkit-box-align: center; width: .8rem;}
.zpo_checkbox input[type='checkbox'] { width: 0px; height: 0px;}
.zpo_checkbox input[type='checkbox']:after { display: block; content: ''; margin-left: -.05rem; margin-top: -.25rem; width: .5rem; height: .5rem; background-image: url(../images/checkbox.png); background-position: center center; background-repeat: no-repeat; background-size: .48rem;}
.zpo_checkbox input[type='checkbox']:checked:after { background-image: url(../images/checkbox_checked.png);}
/*单选*/
.zpo_radio { display: -webkit-box; -webkit-box-align: center; width: .8rem;}
.zpo_radio input[type='radio'] { width: 0px; height: 0px;}
.zpo_radio input[type='radio']:after { display: block; content: ''; margin-left: -.05rem; margin-top: -.25rem; width: .5rem; height: .5rem; background-image: url(../images/radioLg.png); background-position: center center; background-repeat: no-repeat; background-size: .48rem;}
.zpo_radio input[type='radio']:checked:after { background-image: url(../images/radioLg_checked.png);}


/*2倍尺寸*/
.zpo_row_2x { padding: 0.234rem 0;}
.zpo_row_2x .zpo_pic { position: relative; width: 1.404rem; height: 1.404rem; padding: 0.0936rem;}
.zpo_row_2x .zpo_pic img { width: 1.404rem; border-radius: 50%;}
.zpo_row_2x .zpo_pic span,.zpo_row_2x .zpo_pic em { display: inline-block; position: absolute;}
.zpo_row_2x .zpo_pic span { position: absolute; left: -0.468rem; top: -0.3rem; width: 0.7605rem; height: 0.7254rem;}
.zpo_row_2x .zpo_pic em { width: 0.7605rem; height: 0.7254rem; background: url(../images/kinghap_03.png) no-repeat; background-size: 0.702rem;}
.zpo_row_2x .zpo_th a { display: block; height: 0.8424rem; line-height: 0.8424rem; font-size: 0.3744rem; color: #000;}
.zpo_row_2x .zpo_th p { height: 0.468rem;  font-size: 0.3rem;}
.zpo_row_2x .zpo_th p.zpo_t {  line-height: 0.468rem; color: #999; font-size: .32rem;}
.zpo_row_2x .zpo_time { font-size: .32rem;}
.zpo_row_2x .zpo_time h2 { line-height: 0.8424rem; font-size: 0.3rem;}
.zpo_row_2x .zpo_time p { line-height: 0.468rem;}
.zpo_row_2x .zpo_time img { width: 1.053rem; height: 1.404rem;}

/*3倍尺寸*/
.zpo_row_3x { padding: 0.351rem 0;}
.zpo_row_3x .zpo_pic { width: 1.7784rem; height: 1.7784rem; padding: 0.0936rem;}
.zpo_row_3x .zpo_pic img { width: 1.7784rem; border-radius: 50%;}
.zpo_row_3x .zpo_th a { display: block; height: 0.936rem; line-height: 0.936rem; font-size: 0.4212rem; color: #000;}
.zpo_row_3x .zpo_th p { height: 0.5616rem; font-size: .32rem;}
.zpo_row_3x .zpo_th p.zpo_t { line-height: 0.5616rem; color: #999; font-size: 0.3744rem;}
.zpo_row_3x .zpo_time { font-size: 0.3744rem;}
.zpo_row_3x .zpo_time h2 { line-height: 0.936rem; font-size: .32rem;}
.zpo_row_3x .zpo_time p { line-height: 0.5616rem;}
.zpo_row_3x .zpo_time img { width: 1.404rem; height: 1.7784rem;}
/*portrait 仅头像*/
.zphoto,.zphoto_2x,.zphoto_3x { display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center; -webkit-box-align: center;}
.zph_info { text-align: center;}
.zph_img { width: 1.64rem; height: 1.64rem; padding: 0.0468rem; border: 1px #ebebeb solid; border-radius: 50%; text-align: center; background: #fff;}
.zph_score { position: relative; width: 1.64rem; height: 1.64rem; border:.02rem #ebebeb solid; border-radius: 50%; overflow: hidden;}
.zph_score img { width: 1.64rem; height: 1.64rem; border-radius: 50%;}

.zph_score p { position: absolute;bottom: 0; width: 100%; height: 0.34rem; margin: 0 auto; text-align: center; font-size: 0.24rem; font-weight: normal; background: url(../images/half_circle_03.png) center bottom no-repeat; background-size: 1.4rem .36rem; color: #fff;}
/*.zph_score p { position: absolute; left: 0; bottom: 0; width: 100%; height: 0.34rem; text-align: center; font-size: 0.24rem; font-weight: normal; background: rgba(204, 0, 0, .6); color: #fff; background-image: -webkit-linear-gradient(rgba(204, 204, 204, .6) 80%, transparent 20%); background-size: 100% 1px; background-position: top; background-repeat: no-repeat;}*/
.zph_name { font-size: 0.32rem;}
.zph_p{ line-height: 0.3744rem; font-size: 0.234rem; color: #999;}
/*2倍尺寸*/
.zphoto_2x .zph_img { width: 1.7rem; height: 1.7rem; padding: 0.08rem; border: 1px #ebebeb solid; border-radius: 50%;}
.zphoto_2x .zph_score { width: 1.7rem; height: 1.7rem;}
.zphoto_2x .zph_score img { width: 1.7rem; height: 1.7rem;}
.zphoto_2x .zph_score p { height: 0.34rem; line-height: .34rem; font-size: 0.24rem;}
.zphoto_2x .zph_name { height: .6rem; line-height: 0.6rem; font-size: .34rem;}
.zphoto_2x .zph_p { font-size: 0.3rem;}
/*3倍尺寸*/
.zphoto_3x .zph_img { width: 1.872rem; height: 1.872rem; padding: 0.1404rem;}
.zphoto_3x .zph_score b { height: 0.4212rem; font-size: 0.2808rem;}
.zphoto_3x .zph_name { font-size: 0.4212rem;}
.zphoto_3x .zph_p { line-height: 0.5616rem; font-size: 0.3276rem; }

/*小花修饰*/
.zportrait-align { display: -webkit-box; -webkit-box-align: center; }
.zportrait-flower { margin-left: 3px;}
.zportrait-star { margin-left: 2px;}
.zportrait-flower .petalNew{margin-top: -12px;}
.zportrait-star .starBox { margin-top:1px;}