@charset "utf-8";
/* CSS Document */

/*-----------------------------------------------------
弹层
-----------------------------------------------------*/
.zalert { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: 0.4; display:none; z-index:10000;}
.zal_box { position: fixed; left: 50%; top: 50%; width: 66%; height: auto; margin-left: -33%; /* padding: 2rem;*/ display:none; z-index:10001;}

.zal_content { padding: 1.4rem;  border-radius: 1rem 1rem 0 0;  background: #fff; text-align: center; color: #333; font-size: 1.6rem;}
.zal_txt { padding-top: 0.5rem; line-height: 2rem;}
.zal_btn { margin-top: 1px; border-radius: 0 0 1rem 1rem ; overflow: hidden; }
.zal_btn ul { display: -webkit-box; display: box; }
.zal_bt { -webkit-box-flex: 1; box-flex: 1; height: 4.4rem; background: #fff; line-height: 4.4rem; text-align: center; font-size: 1.6rem; color: #09f;}
.zal_bt:not(:last-child) { margin-right: 1px;}
/*-----------------------------------------------------
弹窗
-----------------------------------------------------*/
.zal_bg { position: fixed; bottom: 16%; width: 100%; text-align: center;  opacity: 0;}
.zal_bg span { display: inline-block; min-width:5rem; padding: 1rem 2rem; background: #333; border-radius: 0.8rem; line-height: 1.5rem; font-size: 1.2rem; color: #fff;}

/*--积分弹窗--*/
.zal_integral { position: fixed; top: 50%; width: 100%; margin-top: -1.75rem; text-align: center;  opacity: 0; z-index: 10;}
.zal_integral span { display: inline-block; min-width:5rem; padding: 1rem 2rem; background: rgba(0,0,0,0.6); border-radius: 0.4rem; line-height: 1.5rem; font-size: 1.2rem; color: #fff; z-index: 12;}

/*--动画--*/
.zstart { 
	-webkit-animation:0.2s zstart forwards;
	animation:0.2s zstart forwards;
}
@-webkit-keyframes zstart{
	from{ 
		opacity: 0;
		-webkit-transform:translate(0px,-20px);
		transform:translate(0px,-20px);
		}
	to{
		opacity: 1;
		-webkit-transform:translate(0px,0px);
		transform:translate(0px,0px);
		}
}
.zend {
	
	-webkit-animation:0.2s zend forwards;
	animation:0.2s zend forwards;
}

@-webkit-keyframes zend{
	from{ 
		opacity: 1;
		-webkit-transform:translate(0px,0px);
		transform:translate(0px,0px);
		}
	to{
		opacity: 0;
		-webkit-transform:translate(0px,20px);
		transform:translate(0px,20px);
		}
}

/*管理*/

.zmanage { position: fixed; left: 50%; top: 50%; width: 66%; height: auto; margin-left: -33%; /* padding: 2rem;*/ display:none; z-index:10002;}
.zmanage ul { display: -webkit-box; -webkit-box-pack: center; padding: 0.5rem 0;}
.zmanage ul li { min-width: 4rem; padding: 0 0.8rem; border-right: 1px #fff solid; background: #333; line-height: 3.75rem; text-align: center; font-size: 1.4rem; color: #fff;}
.zmanage ul li:first-child { border-radius: 0.5rem 0 0 0.5rem;}
.zmanage ul li:last-child { border-right: 0; border-radius: 0 0.5rem 0.5rem 0;}
