.wyx { padding: 20px; border: 1px #000 solid; background: #f5f6f8;}
.ssw { height: 300px; border: 2px #c0c0c0 solid; background-color: #5f6f8f;}
.ash { height: 400px; border: 3px #ccc solid; background: #ffffff;}

.changGui { width: 100px; height: 100px; border-radius: 5px; border: #1287B5 1px solid; margin: 10px;}
.sub { padding: 10px; font-size: 16px; line-height: 40px;}
